.footer__social{
  display: inline-block;
  vertical-align: top;
  margin-left: 91px;
}

@media screen and (max-width: 1279px) {
  .footer__social{
    position: absolute;
    top:0;
    right: 0;
    margin-left: 0;
  }
}