.menu__link{
  font-family: 'Sonsie One', cursive;
  color: rgb(96, 48, 48);
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
  letter-spacing: -0.2px;
  transition: color 0.5s;
  &:hover{
    color: white;
  }
}