body {
	background-color: #f9f9f9;
}
.header {
	padding-top: 50px;
	padding-bottom: 40px;
	margin-left: 52px; 
	font-size: 40px;
	font-family: tahoma;
}
.main {
	margin: 0 auto;
	padding-bottom: 1px;
	width: 1065px;
	box-shadow: 0 0 5px rgba(0,0,0,0.5);
	background-color: white;
}
/*TOP  MENU*/
.top_menu {
	font-family: tahoma;
    margin: 0 auto;
	width: 960px;
	height: 40px;
	background-color: #585858;
}
.punkt_top_menu li {
	list-style: none;
    float: left;
}
.punkt_top_menu a {
	display: inline-block;
	width: 144px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	text-decoration: none;	
	color: white;
}
.punkt_top_menu a:hover {
	width: 142px;
	background-color: #383838;
	border-right:#838383 solid 1px;
	border-left:#838383 solid 1px;
}
/*LEFT MENU*/
.left_menu {
    float: left;
    margin-top: 40px;
    margin-left: 52px;
    width: 240px;
    height: 246px;
    border: 1px solid silver;
    border-bottom-width: 0px;
    background: white;
}
.punkt_left_menu li {     
    list-style: none;
    border-bottom: 1px solid silver;    
}
.punkt_left_menu a {
    display: inline-block;
    padding-left: 20px;
    width: 220px;
    line-height: 40px;
    background-color: white;
    font-size: 15px;
    text-decoration: none;
    color: black;
    font-family: tahoma;
}
.punkt_left_menu a:hover {
    width: 200px;
    padding-left: 40px;
    background-color: #f9f9f9;
}

/*CONTENT*/
.content {
	float: right;
	width: 678px;
	margin-top: 40px;
	margin-right: 52px;
}
.frame {
border: 1px solid silver;
background-color: white;
}
.image {
	padding-left: 50px;
	width: 580px;	
}
.description{
	font-family: tahoma;
	width: 580px;
	padding-top: 40px;
	padding-left: 50px;
}
/*BOT MENU*/
.bot_menu {
	clear: both;
	font-family: tahoma;
	margin: 0 auto;
	margin-top: 610px;
	margin-bottom: 60px;    
	width: 960px;
	height: 40px;
	background-color: #e1e1e1;
}
.punkt_bot_menu li {
	list-style: none;
    float: left;
}
.punkt_bot_menu a {
	display: inline-block;
	width: 144px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	text-decoration: none;
	color: black;	
}
.punkt_bot_menu_copy {
	display: inline-block;
	width: 200px;
	height: 40px;
	line-height: 40px;
	margin-left: 170px;
	text-decoration: none;
	color: black;	
}
.punkt_bot_menu a:hover {
	text-decoration: underline;
}