$KelsonB: 'Kelson Sans Bold', sans-serif;
$KelsonR: 'Kelson Sans Regular', sans-serif;
$KelsonL: 'Kelson Sans Light', sans-serif;


/*CLEARFIX*/
.clearfix{
  *zoom: 1;
  &:before{
    content: '';
    display: table;
  }
  &:after{
    content: '';
    display: table;
    clear: both;
  }
}

body {
  background: url(../img/background.jpg) no-repeat center center fixed;
  background-size: cover;
}
.wrapper{
  position: absolute;
  height: 600px;
  width: 600px;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: white;
  border-radius: 10px;
}
.form{
  margin-top: 100px;
}
//TEXT
.input-text {
  display: block;
  width: 465px;
  height: 37px;
  margin: 0 auto;
  padding-top: 19px;
  padding-left: 15px;
  color: #524d5d;
  font-family: $KelsonL;
  font-size: 16px;
  font-weight: 300;
  line-height: 50px;
  vertical-align:text-bottom;
  border: none;
  border-bottom: 1px solid gainsboro;
}
.input-text:focus {
  outline: none;
  width: 462px;
  height: 41px;
  padding-left: 18px;
  padding-top: 15px;
  font-family:$KelsonL;
  font-weight: 700;
  background-color: #f7f5f7;
  letter-spacing: 1px;
  border-bottom: 1px solid white;
}
//CHECKBOX
.checkbox{
  float: left;
  margin-left: 150px;
  margin-top: 100px;
}
.checkbox__label {
    display: block;
    color: #9b9b9b;
    font-family: $KelsonR;
    font-size: 14px;
    font-weight: 400;
    line-height: 52px;
    cursor: pointer;
}
.checkbox .checkbox__label:before {
    content: "";
    display: block;
    float: left;
    width: 13px;
    height: 13px;
    margin-top: 18px;
    margin-right: 16px;
    border: 1px solid #a46393;
    border-radius: 3px;
}
.checkbox__input {
    display: none;
}
.checkbox__input:checked + .checkbox__label:before {
    content: "\2228";
    font-size: 10px;
    color: #a46393;
    text-align: center;
    line-height: 13px;
}
.checkbox__input:checked + .checkbox__label {
    color: #4a4a4a;
}
//RADIO
.radio{
  float: right;
  margin-right: 150px;
  margin-top: 100px;
}
.radio__label {
    display: block;
    color: #9b9b9b;
    font-family: $KelsonR;
    font-size: 14px;
    font-weight: 400;
    line-height: 52px;
    cursor: pointer;
}
.radio .radio__label:before {
    content: "";
    display: block;
    float: left;
    width: 13px;
    height: 13px;
    margin-top: 18px;
    margin-right: 16px;
    border: 1px solid #a46393;
    border-radius: 50%;
}
.radio__input {
    display: none;
}
.radio__input:checked + .radio__label:before {
    content: "\2022";
    color: #a46393;
    font-size: 30px;
    text-align: center;
    line-height: 11.5px;
}
.radio__input:checked + .radio__label {
    color: #4a4a4a;
}
//SUBMIT
input[type=submit] {
  display: none;
}
.svg-background{
  fill: #a46393;
}
.svg-text{
  fill: white;
  font-family: $KelsonB;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 19px;
  cursor: pointer;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
}
.svg-background:hover{
  fill: #b977a8;
  cursor: pointer;
}
.input-submit{
  clear: both;
  width: 368px;
  display: block;
  margin: 0 auto;
  margin-top: 200px;
}
