body{ 
		background: #EEEEEE;}
.model {
	height: 730px;
	width: 600px;
	box-shadow: 0 0 30px grey;
	margin-left: 370px;
	margin-bottom: 50px;
	background: white;
}

.user_photo_information {
	padding-top: 30px; 
	text-align: center;	
}
.paragraph {
	width: 420px;
	text-align: left;
	padding-left: 60px;
	border-bottom: 2px groove grey;
	margin-left: 60px;
	line-height: 25px;
}
.list {
	margin-left: -25px;
	
}
.user_contacts	{
    width: 420px;
	text-align: left;
	padding-left: 60px;
	border-bottom: 2px groove grey;
	margin-left: 60px;
	line-height: 10px;
}
.user_feedback {
	width: 420px;
	text-align: left;
	padding-left: 60px;
	padding-bottom: 30px;
	margin-left: 60px;
	line-height: 10px;
}
