.social__link{
  display: block;
  width: 32px;
  height: 31px;
  background-image: url(../img/social-sprite.png);
  background-position: 0 0;
  transition: background-position 0.3s;
  &:hover{
    background-position: 0 31px;
  }
}