.read-more__description-text{
  @extend .read-more__title;
  font-size: 14px !important;
  margin-top: 21px !important;
}

@media screen and (max-width: 767px) {
  .read-more__description-text{
    margin: 21px 0 50px 0 !important;
  }
}