.slider__arrow{
  width: 100%;
  position: absolute;
  top: calc(50% - 33px);
}
.slider__link{
  position: absolute;
  display: inline-block;
  height: 67px;
  top: 0;
  left: 20px;
  opacity: 0;
  transition: opacity 1s;
  &:first-child{
    transform: rotate(180deg);
  }
  &:last-child{
    right: 20px;
    left: auto;
  }
  & img{
    width: 30px;
  }
}
