.banner--touch {
  height: auto; }

.banner__wrapper--touch {
  width: 100%;
  max-width: none;
  margin: 0;
  background-image: none;
  background-color: white;
  opacity: 0.9; }

@media screen and (max-width: 1024px) {
  .banner--touch {
    height: auto; }
  .banner__wrapper--touch {
    width: 100%;
    max-width: none;
    margin: 0;
    background-image: none;
    background-color: white;
    opacity: 0.9; } }
