.car__link{
  display: block;
  margin-top: 23px;
  color: rgb(168, 96, 72);
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 21px;
  text-decoration: none;
  transition: transform 0.5s;
  &:hover{
    transform: scale(1.3);
  }
}
