.car__description{
  width: 97%;
  height: 85px;
  margin: 4px auto 0;
  color: rgb(42, 42, 42);
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  letter-spacing: 0.2px;
  overflow: hidden;
}