.menu__item{
  vertical-align: middle;
  float: left;
  margin: 0 95px 0 0;
  height: 70px;
  line-height: 75px;
  &:nth-child(even){
    float: right;
    margin: 0 0 0 95px;
  }
}

@media screen and (max-width: 1279px){
  .menu__item{
    margin: 0 45px 0 0;
    &:nth-child(even){
      margin: 0 0 0 45px;
    }
  }
}