<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Lessons 21-22</title>
  <link rel="stylesheet" href="styles/css/dist/style.main.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="js/dist/script.main.min.js"></script>
</head>
<body>
  <script type="text/html" id='template'>   
    <div class="main">
    <p class="header">Тест по программированию</p>
    <form class="form">
      <% for (var i = 0; i<questions.length; i++){ %>
            <p class="question"><%= questions[i].title %></p>
            <div class="container">
                <div>
                  <label><input type="radio" name="<%= [i] %>" class="checkbox"><%= questions[i].answers[0] %></label>                  
                </div>
                <div>
                  <label><input type="radio" name="<%= [i] %>" class="checkbox"><%= questions[i].answers[1] %></label>                  
                </div>
                <div>
                  <label><input type="radio" name="<%= [i] %>" class="checkbox"><%= questions[i].answers[2] %></label>                  
                </div>
            </div>
      <% } %>
      <input type="button" class="submit" value="Проверить мои результаты">
    </form>
    <div>
  </script>
</body>
</html>