.read-more__description{
  height: 686px;
  background: url(../img/read-more-background.png) center center;
  background-size: cover;
}

@media screen and (max-width: 1279px){
  .read-more__description{
    height: 600px;
    background: url(../img/read-more-background.png) 40% center;
  }
}

@media screen and (max-width: 767px) {
  .read-more__description{
    height: auto;
    background: none;
  }
}