.footer__description_about{
  width: 380px;
  display: inline-block;
  vertical-align: top;
}

@media screen and (max-width: 1279px) {
  .footer__description_about{
    width: 500px;
    & p{
      white-space: normal;
    }
  }
}

@media screen and (max-width: 1023px) {
  .footer__description_about{
    width: calc(100% - 450px);
  }
}