/*CLEARFIX*/
.clearfix {
  *zoom: 1; }
  .clearfix:before {
    content: '';
    display: table; }
  .clearfix:after {
    content: '';
    display: table;
    clear: both; }

.testimonials {
  width: 100%;
  max-width: 1536px;
  height: 300px;
  margin: 0 auto; }

.tabs {
  margin-top: 145px; }

.tabs__text__item {
  display: none; }
  .tabs__text__item:first-child {
    display: block; }

.profile {
  float: left;
  width: 210px;
  margin-left: 143px; }

.profile__name {
  color: #a46393;
  font-family: "Kelson Sans Bold", sans-serif;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 32px; }

.profile__description {
  margin-top: 13px;
  color: #a46393;
  font-family: "Kelson Sans Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px; }

.socials {
  margin: 26px auto 0 auto; }

.socials__link {
  margin: 0 11px 0 1px; }

.socials__link__svg {
  width: 32px;
  height: 32px;
  stroke-width: 2;
  stroke-dasharray: 100;
  stroke-dashoffset: 0;
  stroke: #a46393;
  fill: none; }

.feedback {
  max-width: 870px;
  margin: 10px auto 0 528px; }

.feedback__data {
  margin-top: 5px;
  color: #4a4a4a;
  font-family: "Kelson Sans Light", sans-serif;
  font-size: 18px;
  line-height: 24px; }
  .feedback__data:before {
    display: inline-block;
    content: "";
    height: 5px;
    width: 34px;
    margin-right: 20px;
    background: url(../../img/banner1_title_line.svg) no-repeat; }

.feedback__text {
  margin-top: 34px;
  color: #4a4a4a;
  font-family: "Kelson Sans Light", sans-serif;
  font-size: 18px;
  line-height: 24px; }

.tabs__control {
  margin-top: 130px; }

.tabs__control__item {
  float: left;
  width: 25%;
  cursor: pointer; }

.tabs-checked {
  position: relative;
  margin: -463px auto 1px auto;
  width: 96px;
  height: 0px;
  background: url(../../img/tab_fill.png) no-repeat;
  -webkit-transition: height 500ms;
  -moz-transition: height 500ms;
  -ms-transition: height 500ms;
  -o-transition: height 500ms;
  transition: height 500ms; }

.tabs-checked--active {
  height: 29px; }
