.footer__copyright-text{
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  white-space: pre-line;
}

@media screen and (max-width: 767px) {
  .footer__copyright-text{
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    white-space: normal;
  }
}