//BANNER DESKTOP HD
.banner{
  position: relative;
  min-height: 100vh;
  height: auto;
  width: 100%;
  background-size: cover;
}
.banner__wrapper{
  width: 80%;
  max-width: 992px;
  margin: auto;
  background: url(../../img/banner_wrapper.png) 50% 0 no-repeat;
  background-size: cover;
}
.banner__logo__image{
  display: block;
  width: 109px;
  height: auto;
  margin: 63px auto 0 auto;
}
.banner__logo__title{
  text-align: center;
  height: 21px;
  margin: 14px auto 0 auto;
  color: $mainColor;
  font-family: $KelsonB;
  font-size: 21px;
  line-height: 21px;
  letter-spacing: 1px;
}
.banner__title{
  margin-top: 38px;
  text-align: center;
  color: $mainColor;
  font-family: $KelsonB;
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
}
.banner__description{
  width: 80%;
  max-width: 736px;
  margin: 22px auto 0 auto;
  color: $textColor;
  font-family: $KelsonL;
  font-size: 18px;
  text-align: center;
  line-height: 24px;
}
.link--banner{
  display: block;
  width: 224px;
  margin: 25px auto 78px;
}
//BANNER DESKTOP
@media screen and (max-width: 1535px){
.banner__wrapper{
  max-width: 800px;
}
.banner__logo__image{
  width: 96px;
  height: auto;
  margin-top: 70px;
}
.banner__logo__title{
  margin-top: 13px;
}
.banner__title{
  width: 80%;
  margin: 38px auto 0 auto;
}
.banner__description{
  margin-top: 14px;
}
.link--banner{
  margin-top: 42px;
  margin-bottom: 83px;
}
}
// BANNER IPHONE 6
@media  screen and (max-width: 1023px){
  .banner__wrapper{
   position: relative;
   width: 100%;
   height: auto;
   max-height: none;
   min-height: 100vh;
   max-width: none;
   margin: 0;
   background-image: none;
   background-color: white;
   opacity: 0.9;
 }
.banner__logo__image{
    width: 83px;
    height: auto;
    margin-top: 77px;
  }
  .banner__logo__title{
    margin-top: 14px;
  }
  .banner__title{
    max-width: 80%;
    margin: 61px auto 0 auto;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
  }
  .banner__description{
    margin: 0 auto;
    margin-top: 23px;
    width: 64%;
  }
  .link--banner{
    width: 216px;
    margin-top: 56px;
  }
  .link__svg--banner{
    height: 56px;
    width: 216px;
  }
}
// BANNER IPHONE 5
@media  screen and (max-width: 374px){
  .banner__logo__image{
   width: 83px;
   height: auto;
   margin-top: 52px;
 }
  .banner__logo__title{
    margin-top: 14px;
  }
  .banner__title{
    max-width: 280px;
    margin: 39px auto 0 auto;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
  }
  .banner__description{
    margin: 17px auto 0 auto;
    max-width: 258px;
  }
  .link--banner{
    width: 200px;
    margin-top: 15px;
  }
  .link__svg--banner{
    height: 56px;
    width: 216px;
  }
}
