//OPTION ONE
.clock{
  width: 100%;
  margin: 82px auto 0;
  color: $mainColor;
  font-family: $KelsonR;
  font-size: 32px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0.5px;
  text-align: center;
  & p{
    display: inline-block;
    margin-right: 30px;
    &:last-child{
      margin-right: 0;
    }
  }
}
.description--countdown{
  width: 80%;
  margin:  20px auto 76px;
}
//OPTION ONE DARK
.countdown__option-one--dark{
  background-color: $mainColor;
  color: white;
  & .clock{
    color: inherit;
  }
  & .description--countdown{
    color: inherit;
  }
}
//OPTION TWO
.clock--option-two{
  & p {
    color: $textColor;
    font-family: $KelsonL;
    font-size: 20px;
    font-weight: 300;
    line-height: 40px;
    margin-right: 55px;
    & span {
      color: $mainColor;
      font-family: $KelsonR;
      font-size: 32px;
      font-weight: 400;
      line-height: 40px;
      letter-spacing: 0.5px;
    }
  }
}
.description--countdown-two{
  width: 80%;
  margin:  25px auto 76px;
}
//OPTION TWO DARK
.countdown__option-two--dark{
  background-color: $mainColor;
  color: white;
  & p {
    color: white;
    & span {
      color: inherit;
    }
  }
}
//OPTION THREE
.clock--option-three{
  margin-top: 68px;
  & p {
    position: relative;
    width: 80px;
    color: $textColor;
    font-family: $KelsonL;
    font-weight: 300;
    font-size: 20px;
    line-height: 40px;
    margin-right: 72px;
  }
  & p span{
    display: block;
    margin-bottom: 10px;
    color: $mainColor;
    font-size: 48px;
  }
}
.clock--option-three > p:not(:last-child):before{
  position: absolute;
  content: ':';
  color: $mainColor;
  font-size: 48px;
  left: 150%;
  top: -9px;
}
.description--countdown-three{
  margin: 32px auto 50px;
}
//OPTION THREE DARK
.countdown__option-three--dark{
  background-color: $mainColor;
  color: white;
  & .clock--option-three{
    color: inherit;
    & span{
      color: inherit;
    }
  }
  & .clock--option-three > p:not(:last-child):before {
    color: white;
  }
  & p{
    color: inherit;
  }
}


@media screen and (max-width: 1535px){
  .clock--option-two{
    margin-top: 75px;
  }
}
//IPHONE 6
@media screen and (max-width: 767px){
  .clock{
    margin-top: 62px;
    width: 66%;
    text-align: left;
    & p {
      display: block;
      margin-right: 0;
      margin-top: 15px;
    }
  }
  .description--countdown{
    width: 66%;
    margin:  45px auto 62px;
    text-align: left;
  }
  //OPTION 2
  .countdown__option-two{
    text-align: center;
  }
  .clock--option-two{
    width: auto;
    display: inline-block;
    margin-top: 28px;
    & p {
      margin-top: 22px;
    }
  }
  //OPTION THREE
  .clock--option-three{
    width: 75%;
    margin-top: 30px;
    text-align: center;
    & p {
      float: left;
      width: 50%;
      margin-right: 0;
      margin-top: 30px;
    }
    & p span{
      display: block;
      margin-bottom: 10px;
    }
  }
  .clock--option-three > p:not(:last-child):before {
    content: '';
  }
  .clock--option-three > p:not(:nth-child(even)):before{
    position: absolute;
    content: ':';
    left: 100%;
    top: -9px;
  }
  .description--countdown-three{
    width: 59%;
    margin: 28px auto 50px;
  }
}
@media screen and (max-width: 374px){
  .clock{
    width: 70%;
  }
  .description--countdown{
    width: 70%;
  }
  //OPTION 2
  .countdown__option-two{
    text-align: center;
  }
  .clock--option-two{
    width: auto;
    display: inline-block;
    margin-top: 28px;
    & p {
      margin-top: 22px;
    }
  }
  //OPTION THREE
  .clock--option-three{
    width: 85%;
  }
  .description--countdown-three{
    width: 75%;
    margin: 40px auto 50px;
  }
}