.faq{
  max-width: 800px;
  margin: 0 auto 41px;
}
.title--faq{
  width: 100%;
  margin-top: 41px;
}
.faq__section{
  margin-bottom: 41px;
}

.faq__section__title{
  margin-top: 46px;
  color: $mainColor;
  font-family: $KelsonR;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}
.faq__section__item{
  margin-top: 32px;
  &:nth-child(2){
    margin-top: 23px;
  }
}
.faq__section__item__question{
  color: $textColor;
  font-family: $KelsonB;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}
.description--faq{
  width: 100%;
  margin-top: 16px;
  text-align: left;
}
.faq__section__item__list{
  list-style: disc;
  margin: 20px 0 0 26px;
  width: calc(100% - 26px);
}
.description--faq-list{
  margin-top: 0;
}
.faq__section__item__list--number{
  margin: 20px 0 0 9px;
  position: relative;
  counter-reset: faqOptionOne;
}

.faq__section__item__list__item--number{
  margin-left: 25px;
   list-style: none;
  &:before{
    position: absolute;
    left: 0;
    counter-increment: faqOptionOne;
    content: counter(faqOptionOne)'.';
    color: $textColor;
    font-family: $KelsonL;
    font-size: 18px;
    font-weight: 300;
    line-height: 24px;
  }
}
//TABS
.carousel-wrap--faq{
  display: none;
}
.title--faq{
  text-align: left;
}
.tabs__control--faq{
  text-align: left;
  margin: 37px 0 0 -7px;
}
.tabs__control__item--faq{
  margin-right: 17px;
}
.tabs__control__item__line--faq-list{
  margin-top: 6px;
}
.tabs__control__item--faq-subtab{
  width: 100%;
  margin: 16px 0 0;
  cursor: pointer;
  &:first-child{
    margin-top: 0;
  }
}
.tabs__control__item__title--faq-subtab{
 color: $textColor;
}
.tabs__control--faq-subtab{
  margin-top: 21px;
}
.tabs__control__item__title--faq-subtab {
  display: inline-block;
  width: calc(99% - 27px);
  text-align: left;
  font-family:$KelsonB;
  font-weight: 700;
}
.tabs__control__item__svg--faq-subtab{
  margin: 6px 5px 0 0;
}
.description--faq-tabs{
  display: none;
}
.tabs__list__item--faq{
  display: none;
  &:first-child{
    display: block;
  }
}

@media screen and (max-width: 1023px){
  .faq__section{
    width: calc(100% - 32px);
    margin: 0 16px 41px;
  }
  .title--faq{
    margin-left: 16px;
    width: calc(100% - 16px);
  }
  .tabs--faq{
    width: calc(100% - 32px);
    margin: 0 16px 41px;
  }
  .carousel-wrap--faq{
    display: block;
  }
  .tabs__control--faq{
    display: none;
  }
  //CAROUSEL
  .carousel-wrap--faq{
    position: relative;
    width: 100%;
    max-width: 500px;
    margin: 35px auto 0;
    overflow: hidden;
  }
  .jcarousel--faq{
    margin: 0 auto;
    max-width: 400px;
    width: 80vw;
    &:before{
      position: absolute;
      content: '';
      display: block;
      height: 40px;
      width: 100px;
      background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
      background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
      background: linear-gradient(to right, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 );
      z-index: 3;
      pointer-events: none;
    }
    &:after{
      position: absolute;
      right: 0;
      content: '';
      display: block;
      height: 40px;
      width: 100px;
      background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
      background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
      background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 );
      z-index: 3;
      pointer-events: none;
    }
  }
  .jcarousel__list__item--faq {
    display: block;
    margin: 0 16px;
    float: left;
    line-height: 24px;
  }
  .carousel-arrows__arrow-left--faq{
    position: absolute;
    top: 0;
    float: none;
    margin: 0 15px;
  }
  .carousel-arrows__arrow-right--faq{
    position: absolute;
    right: 0;
    top: 0;
    margin: 0 15px;
  }
  .tabs__list--faq{
    width: 100%;
    margin: 20px auto 0;
  }
  .tabs-content__image{
    float: none;
    width: 100%;
    margin: 0;
  }
  .tabs-content__text{
    float: none;
    margin-top: 20px;
    width: 100%;
  }
}
@media screen and (max-width: 768px){
  .title--faq{
    margin: 41px auto 0;
    text-align: center;
    width: 90%;
  }
  .tabs--faq{
    width: 100%;
    margin: 0 0 41px;
  }
  .tabs__control--faq-subtab{
    width: calc(100% - 32px);
    margin: 21px 16px 0;
  }
}