.partners{
  margin-bottom: 50px;
}
.title--partners{
  margin-top: 24px;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.8px;
}
//CAROUSEL
.carousel-wrap--partners{
  margin: 8px auto 0;
  position: relative;
  width: 90%;
  max-width: 1300px;
  overflow: hidden;
}
.jcarousel--partners{
  margin: 0 auto;
  width: 1024px;
  max-width: 1024px;
}
.jcarousel__list__item--partners {
  display: inline-block;
  margin: 0 53px;
  line-height: 256px;
}
.jcarousel__list__item--partners img {
  vertical-align: middle;
  height: auto;
  max-height: 256px;
  width: 156px;
}
.carousel-arrows__arrow-left--partners{
  position: absolute;
  top: 117px;
  float: none;
  margin: 0;
}
.carousel-arrows__arrow-right--partners{
  position: absolute;
  right: 0;
  top: 117px;
  margin: 0;
}
//LIST
.partners__list{
  text-align: center;
  width: 90%;
  max-width: 1024px;
  margin: 0 auto;
}
.partners__list__item{
  margin: 0 -2px;
  text-align: center;
  display: inline-block;
  width: 256px;
  height: 256px;
  line-height: 256px;
}
.partners__list__item img{
  display: inline-block;
  width: 156px;
  height:auto;
  max-height: 256px;
  vertical-align: middle;
}

//DESKTOP
@media screen and (max-width:1535px){
  .title--partners{
    margin-top: 32px;
  }
  //CAROUSEL
  .carousel-wrap--partners{
    margin-top: 13px;
    max-width: 878px;
  }
  .jcarousel--partners{
    max-width: 640px;
    height: 170px;
  }
  .jcarousel__list__item--partners {
    line-height: 170px;
    margin: 0 30px;
  }
  .jcarousel__list__item--partners img {
    width: 100px;
  }
  .carousel-arrows__arrow-right--partners, .carousel-arrows__arrow-left--partners{
    top: 74px;
  }
  //LIST
  .partners__list{
    max-width: 684px;
    margin-top: 10px;
  }
  .partners__list__item{
    height: 171px;
    line-height: 171px;
  }
}
@media screen and (max-width: 1023px){
  .carousel-wrap--partners {
    max-width: 730px;
  }
}
@media screen and (max-width: 767px){
  .carousel-wrap--partners{
    max-width: 350px;
  }
  .jcarousel--partners{
    max-width: 320px;
  }
  .jcarousel__list__item--partners {
    line-height: 170px;
    margin: 0 30px;
  }
  .jcarousel__list__item--partners img {
    width: 100px;
  }
  //LIST
  .partners__list{
    width: 90%;
    max-width: 450px;
    margin-top: 40px;
  }
  .partners__list__item{
    width: 50%;
  }
  .partners__list__item img {
    width: 100px;
  }
}
@media screen and (max-width: 374px) {
  .title--partners {
    margin: 24px auto 0;
    width: 80%;
  }
  .carousel-wrap--partners{
    max-width: 300px;
  }
  .jcarousel--partners{
    max-width: 190px;
  }
  .jcarousel__list__item--partners {
    margin: 0 40px;
  }
  .jcarousel__list__item--partners img {
    width: 100px;
  }
  //LIST
  .partners__list{
    width: 100%;
    max-width: none;
  }
  .partners__list__item{
    height: auto;
    margin-top: 40px;
    width: 100%;
    &:first-child{
      margin-top: 0;
    }
  }
  .partners__list__item img {
    width: 156px;
  }
}