.pricing{
  background-color: $mainColor;
}
.title--pricing{
  width: 90%;
  margin: 49px auto 0;
  color: white;
}
.pricing__block__list{
  text-align: center;
  width: 90%;
  margin: 30px auto 50px;
  max-width: 1200px;
}
.pricing__block__list__item{
  vertical-align: middle;
  display: inline-block;
  position: relative;
  width: 288px;
  height: auto;
  margin: 0 31px 30px;

}
.pricing__block__list__item__svg{
  position: relative;
  display: block;
  width: 288px;
  height: 26px;
  fill: white;
  stroke-width: 1;
  stroke: white;
}
.pricing__block__list__item__svg--bottom{
  display: block;
  margin-top: 30px;
  height: 15px;
}
.pricing-content{
  position: relative;
  display: block;
  margin-top: -2px;
  padding-bottom: 120px;
  color: $mainColor;
  background-color: white;
}
.pricing-content__price{
  width: 73%;
  margin: 49px auto 0;
  color: inherit;
  font-family: $KelsonL;
  font-size: 64px;
  font-weight: 300;
  line-height: 48px;
  text-align: center;
}
.pricing-content__name{
  width: 73%;
  margin: 28px auto 0;
  color: inherit;
  font-family: $KelsonB;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
}
.pricing-content__list{
  width: 66%;
  margin: 11px auto 0;
}
.pricing-content__list__item{
  padding: 12px 0;
  border-bottom: 1px solid #e9e9e9;;
  &:last-child{
    border: none;
  }
}
.pricing-content__list__item__text{
  color: $textColor;
  font-family: $KelsonL;
  font-size: 18px;
  font-weight: 300;
  line-height: 24px;
  text-align: center;
}
.link--pricing-content{
  position: relative;
  display: block;
  height: 56px;
  width: 192px;
  margin: -86px auto 0;
}
.link__svg--pricing-content{
  position: relative;
}
.link__text--pricing-content{
  position: absolute;
  left: 0;
  right: 0;
  font-size: 16px;
  letter-spacing: 1px;
}
//OPTION TWO
.title--pricing-option-two{
  margin-top: 40px;
}
.pricing__block__list__item__svg--option-two{
  width: 288px;
}
.pricing-content__name--option-two{
  margin-top: 45px;
  font-size: 20px;
}
.pricing-content__price--option-two{
  margin-top: 45px;
}
.pricing-content__description{
  margin: 10px auto 0;
  width: 80%;
  color: $textColor;
  font-family: $KelsonL;
  font-size: 13px;
  font-weight: 300;
  line-height: 24px;
  text-align: center;
  &:nth-child(1){
    margin-top: 38px;
  }
}
.pricing-content__description--dark{
  color: white;
}
.link--pricing-content-option-two{
  width: 224px;
}
.link__svg--pricing-content-option-two{
  width: 224px;
  height: 56px;
}

//OPTION ONE DARK
.title--pricing-dark{
  margin-top: 43px;
}
.pricing__block__list--dark{
  margin-top: 20px;
}
.pricing-content--dark{
  background-color: inherit;
  border-left: 2px solid white;
  border-right: 1px solid white;
  & p {
    color:white;
  }
  & li {
    border-bottom: 1px solid white ;
  }
  & .pricing-content__list__item--dark-two{
    border-bottom: 1px dashed white ;
    &:last-child{
      border-bottom: none;
    }
  }
}
.pricing-content--dark-two{
  border: none;
  & p {
    color:white;
  }
}

.pricing-content--dark{
  color: white;
}
.pricing-content__list__item__text--dark{
  color: white;
}
.link__svg--pricing-content-option-one{
  width: 192px;
}
.link__svg--pricing-content-dark{
  fill: white;
}
.link__text--pricing-content-dark{
   color: $mainColor;
}
//OPTION TWO DARK
.pricing__block__list__item__svg--dark{
  fill: none;
  stroke-width: 2;
  stroke: white;
  stroke-linecap: butt;
}
.pricing__block__list--dark-two{
  margin-top: 27px;
}
.pricing-content__price--dark-two{
  margin-top: 78px;
}
.pricing-content__name--dark-two{
  margin-top: 36px;
}
.pricing-content__line{
  display: block;
  margin: 20px auto 0;
}
.pricing-content__list__item--dark-two{
  border-bottom: 1px solid white;
}
//DESKTOP
@media screen and (max-width: 1535px){
  .pricing__block__list{
    width: 95%;
  }
  .pricing__block__list__item{
    margin: 0 15px 30px;
  }
}

@media screen and (max-width: 673px) {
  .title--pricing {
    margin: 45px auto 0;
  }
  .pricing__block__list{
    margin: 27px auto 32px;
  }
  .pricing__block__list__item{
    margin: 32px 15px 0;
    &:first-child{
      margin-top: 15px;
    }
  }
}