.tabs__list__item--rest-menu{
  display: none;
  &:first-child{
    display: block;
  }
}
.tabs--rest-menu{
  margin-bottom: 89px;
}
.title--tabs-rest-menu{
  margin-top: 57px;
}
.description--tabs-rest-menu{
  margin-top: 13px;
}
.tabs__list__item__content--rest-menu{
  width: 100%;
  max-width: 1152px;
  margin-top: 23px;
  columns: 2 512px;
  column-gap: 127px;
}
.tabs__list__item__content__item--rest-menu{
  width: 512px;
  display: inline-block;
  margin-top: 25px;
}
.rest-menu-content__product{
  width: auto;
  max-width: 330px;
  float: left;
  margin-bottom: 11px;
  padding-right: 20px;
  font-size: 21px;
  line-height: 21px;
  color: $mainColor;
  font-family: $KelsonR;
  font-weight: 400;
  background-color: white;
  text-align: justify;
}
.dotted{
  height: 16px;
  border-bottom: 2px dotted $mainColor;
}
.rest-menu-content__price{
  @extend .rest-menu-content__product;
  float: right;
  padding-right: 0;
  padding-left: 20px;
}
.description--rest-menu-content{
  clear:both;
  text-align: left;
  margin: 0;
}
//LIST
.rest-menu__list{
  margin-bottom: 100px;
}
.title--rest-menu__list{
  margin-top: 57px;
}
.description--rest-menu__list{
  margin-top: 13px;
}
.rest-menu__list__item{
  margin-top: 51px;
}
.rest-menu__list__item__image{
  position: relative;
  width: 100%;
  height: 320px;
}
.rest-menu__list__item__image__checked{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 17px;
  background: url(../../img/grid_fill_bottom.png) no-repeat center;
  &:after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: calc(50% - 384px);
    height: 17px;
    background-color: white;
  }
  &:before{
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: calc(50% - 384px);
    height: 17px;
    background-color: white;
  }
}
.title--rest-menu__list__item{
  margin-top: 40px;
  margin-bottom: 29px;
}
.rest-menu__list__content__item{
  margin-top: 24px;
  &:first-child{
    margin-top: 0;

  }
}
.rest-menu-content--list{
  max-width: 734px;
  margin: 0 auto;
  & .description--rest-menu-content{
    clear:both;
    text-align: left;
    margin: 0;
    max-width: none;
    width: calc(100% - 95px);
  }
  & .rest-menu-content__product{
    max-width: 600px;
  }
}


//DESKTOP
@media screen and (max-width: 1535px){
  //TABS
  .tabs--rest-menu{
    margin-bottom: 40px;
  }
  .tabs__list__item__content--rest-menu{
    width: 100%;
    max-width: 930px;
    margin-top: 15px;
    columns: 2 415px;
    column-gap: 80px;
  }
  .tabs__list__item__content__item--rest-menu{
    width: 415px;
  }
  .rest-menu-content__product{
    max-width: 295px;
  }
  .description--rest-menu-content{
    max-width: 337px;
  }
  //LIST
  .rest-menu__list__item__image{
    height: 208px;
  }

  .rest-menu-content--list{
    & .description--rest-menu-content{
      max-width: none;
    }
    & .rest-menu-content__product{
      max-width: 600px;
    }
  }

  .rest-menu__list__item{
    margin-top: 50px;
  }
  .title--rest-menu__list__item{
    margin-top: 34px;
    margin-bottom: 0;
  }
  .rest-menu__list__content__item{
    margin-top: 24px;
  }
  .rest-menu__list__content{
    margin-top: 20px;
  }
}
//IPHONE 6
@media screen and (max-width: 1023px) {
  .tabs--rest-menu {
    margin-bottom: 40px;
  }
  .title--tabs-rest-menu {
    width: 90%;
    margin: 39px auto 0 auto;
    font-size: 24px;
  }
  .description--tabs-rest-menu {
    width: 85%;
    margin: 10px auto 0 auto;
  }
  .tabs__list__item__content--rest-menu {
    width: 90%;
    max-width: none;
    margin-top: 6px;
    columns: 1;
    column-gap: 0;
  }
  .tabs__list__item__content__item--rest-menu {
    width: 100%;
  }
  .rest-menu-content__product {
    max-width: 67%;
    padding-right: 13px;
  }
  .rest-menu-content__price {
    padding-right: 0;
    padding-left: 13px;
  }
  .description--rest-menu-content {
    width: 100%;
    max-width: none;
  }
  //LIST
  .title--rest-menu__list {
    width: 90%;
    margin: 36px auto 0 auto;
    font-size: 24px;
  }
  .description--rest-menu__list {
    width: 80%;
    margin: 10px auto 0 auto;
  }
  .rest-menu__list__item {
    margin-top: 17px;
    width: 100%;
  }
  .title--rest-menu__list__item {
    width: 90%;
    margin: 21px auto 0 auto;
    font-size: 24px;
  }
  .rest-menu-content--list {
    width: 90%;
    max-width: none;
  }
  .rest-menu__list__content__item{
    margin-top: 25px;
  }
  .rest-menu__list__content{
    margin-top: 18px;
  }
  .rest-menu__list {
    margin-bottom: 28px;
  }
  .rest-menu-content--list{
    & .rest-menu-content__product{
      max-width: 67%;
    }
    & .description--rest-menu-content{
      width: 100%;
    }
  }
}
//IPHONE 5
@media screen and (max-width: 374px){
  .tabs--rest-menu{
    margin-bottom: 20px;
  }
  .title--tabs-rest-menu{
    width: 80%;
    max-width: 269px;
    margin: 32px auto 0 auto;
    line-height: 32px;
  }
  .description--tabs-rest-menu{
    width: 100%;
    max-width: 256px;
    margin: 23px auto 0 auto;
  }
  //LIST
  .title--rest-menu__list{
    width: 80%;
    max-width: 269px;
    margin-top: 40px;
    line-height: 32px;
  }
  .description--rest-menu__list{
    width: 100%;
    max-width: 256px;
    margin: 23px auto 0 auto;
  }
  .rest-menu__list__content{
    margin-top: 10px;
  }
}
