.services__list{
  text-align: center;
  width: 88%;
  margin: 95px auto 135px;
}
.services__list__item{
  text-align: left;
  vertical-align: top;
  display: inline-block;
  width: 33%;
  margin-top: 30px;
}
.services-content__image{
  height: 48px;
  width: 48px;
  float: left;
}
.services-content__text{
  margin: 14px 0 0 65px;
  color: $textColor;
  font-family: $KelsonL;
  font-size: 18px;
  font-weight: 300;
  line-height: 24px;
}
.services-content--list{
  width: 84%;
  margin: 92px auto 0;
}
//LIST TWO
.services__list-two{
  text-align: center;
  margin: 208px auto;
  width: 88%;
}
.services__list-two__item{
  display: inline-block;
  vertical-align: top;
  margin-top: 80px;
  width: 24.7%;
}
.services-content--list-two{
  width: 100%;
}
.services-content__image--list-two{
  display: block;
  margin: 0 auto;
  float: none;
  width: auto;
}
.services-content__text--list-two{
  width: 80%;
  margin: 30px auto 0;
  text-align: center;
}
//LIST THREE
.services__list-three{
  margin: 75px auto 75px;
}
.services__list-three__item{
  width: 45%;
  margin: 42px auto 0;
}
.services-content__text--list-three{
  text-align: left;
  margin-left: 72px;
  width: 100%;
}
//GRID
.grid__item--services{
  width: calc(50% - 17px);
}
.grid__item--image-services{
  width: calc(50% + 17px);
  position: relative;
}
.grid__item__fill--services-right{
  display: block;
  position: absolute;
  right: 0;
  background: url(../../img/grid_fill_right.png) center;
  background-size: cover;
  width: 17px;
  height: 100%;
}
.grid__item__fill--services-left{
  display: block;
  position: absolute;
  left: 0;
  background: url(../../img/grid_fill_left.png) center;
  background-size: cover;
  width: 17px;
  height: 100%;
}
.grid-content__logo--services{
  display: block;
  height: auto;
  width: 62px;
  margin: 0 auto;
  border: none;
  border-radius: 0;
}
.grid-content__line{
  display: block;
  margin: 24px auto 0;
}
.carousel-wrap--services{
  position: relative;
  margin-bottom: 87px;
}
//CAROUSEL
@media screen and (min-width: 769px) {
  .grid-content__line--carousel{
    margin-top: 40px;
  }
  .jcarousel__item--services{
    width: 100vw;
  }
  .jcarousel__item__content--carousel-services{
    margin: 137px 30px 0 47px;
    padding-top: 57px;
    width: calc(48% - 77px);
    float: left;
  }
  .jcarousel__item__photo--carousel-services {
    position: relative;
    height: 516px;
    width: calc(52%);
    float: right;
  }
  .carousel-arrows--carousel-services{
    width: calc(48% - 77px);
    right: 0;
    left: 47px;
  }
  .grid-content__logo--services-carousel{
    margin-top: 79px;
  }
  .grid-content__description--carousel{
    width: 73%;
  }
}

//DESKTOP
@media screen and (max-width: 1535px){
  .services-content--list{
    margin-top: 0;
  }
  .services__list{
    margin-bottom: 95px;
  }
  //LIST TWO
  .services__list-two{
    margin: 200px auto;
    width: 100%;
  }
  .services-content__text--list-two{
    width: 87%;
  }
  //LIST THREE
  .services__list-three__item{
    width: 67%;
    margin: 50px auto 0;
  }
  .services-content__text--list-three{
    margin-left: 72px;
    width: 100%;
  }
  //CAROUSEL
  .grid-content__line--carousel{
    margin-top: 40px;
  }
  .grid-content__description--carousel{
    width: 95%;
  }
}
//IPHONE6
@media screen and (max-width: 1023px){
  .services__list{
    width: 100%;
    margin: 10px auto 37px;
  }
  .services__list{
    text-align: left;
  }
  .services__list__item{
    width: 100%;
    margin-top: 35px;
  }
  //LIST TWO
  .services__list-two{
    margin: 15px auto 46px;
    width: 100%;
  }
  .services__list-two__item{
    width: 49.7%;
    margin-top: 42px;
  }
  .services-content--list-two{
     width: 100%;
  }
  .services-content__text--list-two{
    width: 60%;
  }
  //LIST THREE
  .services__list-three{
    margin: 36px auto 36px;
  }
  .services__list-three__item{
    width: 90%;
    margin: 36px auto 0;
  }
  .services-content__text--list-three{
    margin-left: 72px;
    width: calc(100% - 72px);
  }
  //GRID
  .grid__item--services{
    margin: 85px auto 0;
    width: 100%;
  }
  .grid__item--image-services{
    width: 100%;
  }
  .grid__item__fill--services-right{
    position: absolute;
    margin: 0 auto;
    background: url(../../img/grid_fill_top.png) center;
    background-size: cover;
    top: 0;
    right: 0;
    left: 0;
    height: 17px;
    width: 100%;
    max-width: 768px;
  }
  .grid__item__fill--services-left{
    position: absolute;
    margin: 0 auto;
    background: url(../../img/grid_fill_top.png) center;
    background-size: cover;
    top: 0;
    right: 0;
    left: 0;
    height: 17px;
    width: 100%;
    max-width: 768px;
  }
  .grid__item__fill__before--services{
    position: absolute;
    height: 17px;
    width: calc(50% - 384px);
    background-color: white;
    &:last-child{
      right: 0;
    }
  }
  .grid-content__line{
       margin-top: 26px;
  }
}


@media screen and (min-width: 769px){
  .grid__item__fill--services-left-carousel{
    display: block;
    position: absolute;
    left: 0;
    right: auto;
    background: url(../../img/grid_fill_left.png) center;
    background-size: cover;
    width: 17px;
    height: 100%;
  }
}

@media screen and (max-width:768px) {
  //List two
  .services__list-two__item{
    width: 100%;
  }
  //CAROUSEL
  .jcarousel__item__photo--carousel-services{
    position: relative;
    margin-top: 0;
    width: 100vw;
    height: 237px;
  }
  .jcarousel__item__content--carousel-services{
    width: 100vw;
    margin: 40px auto 0;
  }
  .carousel-arrows--carousel-services{
    position: absolute;
    top: 295px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 95vw;
    z-index: 1;
  }
  .grid-content__description--carousel{
    margin-top: 35px;
    width: 85%;
    max-width: none;
  }
  .grid-content__line--carousel{
    margin-top: 40px;
  }
  .grid__item__fill--services-left-carousel{
    display: block;
    position: absolute;
    top: auto;
    bottom: 0;
    background: url(../../img/grid_fill_bottom.png) center;
  }
}
//IPHONE5
@media screen and (max-width: 374px){
  .services__list{
    margin: 30px auto 37px;
  }
  .services__list__item{
    margin-top: 10px;
  }
  //LIST TWO
  .services-content__text--list-two{
    width: 70%;
  }
  //LIST THREE
  .services__list-three{
    margin: 30px auto 30px;
  }
  .services__list-three__item{
    margin: 30px auto 0;
  }
  //GRID
  .grid__item--services{
    margin: 70px auto 0;
  }
  .grid__item--image-services{
    margin-top: 60px;
  }
  .grid-content__description{
    margin-top: 19px;
  }
  //CAROUSEL
  .carousel-wrap--services{
    margin: 0 auto 20px;
  }
  .jcarousel__item__photo--carousel-services{
    height: 172px;
  }
  .carousel-arrows--carousel-services{
    top: 230px;
  }
  .carousel-wrap--services{
    margin-bottom: 45px;
  }
}
