.title--steps__option-one{
  margin-top: 46px;
  font-size: 24px;
  letter-spacing: 0.8px;
  line-height: 32px;
}
.steps__option-one__list{
  margin-bottom: 46px;
  position: relative;
  color: $mainColor;
  counter-reset: stepOptionOne;
  & li{
    width: 90%;
    max-width: 1024px;
    margin: 32px auto 0;
    list-style: none;
    &:before{
      position: absolute;
      padding-top: 2px;
      counter-increment: stepOptionOne;
      content: counter(stepOptionOne);
      font-family: $KelsonB;
      font-size: 18px;
      font-weight: 700;
      line-height: 19px;
    }
  }
  & p {
    margin-left: 40px;
    text-align: left;
  }
}
//OPTION ONE DARK
.steps__option-one--dark{
  background-color: $mainColor;
}
.title--steps__option-one-dark{
  color: #fff;
}
.steps__option-one__list--dark{
  color: white;
  & p {
    color: inherit;
  }
}
//OPTION TWO
.title--steps__option-two{
  @extend .title--steps__option-one;
  margin-top: 42px;
}
.steps__option-two__list{
  counter-reset: stepOptionTwo;
  width: 90%;
  max-width: 1220px;
  margin: 0 auto 44px;
  text-align: center;
  color: $mainColor;
  & li{
    display: inline-block;
    vertical-align: top;
    width: 28%;
    margin-top: 70px;
    &:before{
      display: block;
      text-align: center;
      margin: 0 auto 20px;
      counter-increment: stepOptionTwo;
      content: counter(stepOptionTwo);
      font-family: $KelsonB;
      font-size: 18px;
      font-weight: 700;
      line-height: 19px;
    }
  }
}
//OPTION TWO DARK
.steps__option-two--dark{
  background-color: $mainColor;
}
.title--steps__option-two-dark{
  color: #fff;
}
.steps__option-two__list--dark{
  color: white;
  & p {
    color: inherit;
  }
}
//OPTION THREE
.title--steps__option-three{
  @extend .title--steps__option-one;
  margin-top: 75px;
}
.steps__option-three__list{
  counter-reset: stepOptionThree;
  margin-bottom: 55px;
  & li{
    width: 90%;
    max-width: 1024px;
    margin: 67px auto 0;
    &:before{
      display: block;
      text-align: center;
      margin: 0 auto 30px;
      counter-increment: stepOptionThree;
      content: counter(stepOptionThree);
      color: $mainColor;
      font-family: $KelsonB;
      font-size: 18px;
      font-weight: 700;
      line-height: 19px;
    }
    &:first-child{
      margin-top: 60px;
    }
  }
}

//OPTION THREE DARK
.steps__option-three--dark{
  background-color: $mainColor;
}
.title--steps__option-three-dark{
  color: white;
}
.steps__option-three__list--dark{
  & li{
    &:before{
      color: white;
    }
  }
  & p{
    color: white;
  }
}
//GRID
.grid--steps{
  counter-reset: counterGrid;
}
.grid__item--steps{
  float: left;
  width: calc(50% - 17px);
}
.grid__item--image-steps{
  float: right;
  width: calc(50% + 17px);
  position: relative;
  &:nth-child(4n-3){
    float:left;
  }
}
.grid__item__fill--steps-right{
  display: block;
  position: absolute;
  right: 0;
  background: url(../../img/grid_fill_right.png) center;
  background-size: cover;
  width: 17px;
  height: 100%;
}
.grid__item__fill--steps-left{
  display: block;
  position: absolute;
  left: 0;
  background: url(../../img/grid_fill_left.png) center;
  background-size: cover;
  width: 17px;
  height: 100%;
}
.description--grid{
  margin: 0 auto;
  width: 70%;
  max-width: 483px;
  &:before{
    display: block;
    text-align: center;
    margin: 0 auto 30px;
    counter-increment: counterGrid;
    content: counter(counterGrid);
    color: $mainColor;
    font-family: $KelsonB;
    font-size: 18px;
    font-weight: 700;
    line-height: 19px;
  }
}

@media screen and (max-width:1535px){
  .title--steps__option-one{
    margin-top: 44px;
  }
  .steps__option-one__list{
    & li{
      margin-top: 33px;
      max-width: 880px;
    }
    & p{
      margin-left: 40px;
    }
  }
}

@media screen and (max-width: 1023px){
  .title--steps__option-one{
    margin-top: 48px;
  }
  .steps__option-one__list{
    & li{
      max-width: none;
      width: 80%;
    }
  }
  //OPTION TWO
  .title--steps__option-two{
    margin-top: 38px;
  }
  .steps__option-two__list{
    & li{
      display: block;
      width: 100%;
      margin-top: 50px;
      &:first-child{
        margin-top: 42px;
      }
    }
  }
  .steps__option-two__list{
    margin-top: 0;
  }
  //OPTION THREE
  .title--steps__option-three{
    margin-top: 75px;
  }
  .steps__option-three__list{
    margin-bottom: 45px;
  }
  .steps__option-three__list{
    & li{
      margin: 54px auto 0;
    }
  }
  //GRID
  .grid__item--steps{
    margin: 32px auto 0;
    width: 100%;
    &:first-child{
      margin-top: 0;
    }
    &:last-child{
      margin-bottom: 32px;
    }
  }
  .grid__item--image-steps{
    width: 100%;
    max-height: 210px;
    min-height: 210px;
  }
  .grid__item__fill--steps-right{
    position: absolute;
    background: url(../../img/grid_fill_bottom.png) center;
    background-size: cover;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 0 auto;
    height: 17px;
    width: 100%;
    max-width: 768px;
  }
  .grid__item__fill--steps-left{
    position: absolute;
    margin: 0 auto;
    background: url(../../img/grid_fill_bottom.png) center;
    background-size: cover;
    bottom: 0;
    right: 0;
    left: 0;
    height: 17px;
    width: 100%;
    max-width: 768px;
  }
  .grid__item__fill__before--steps{
    position: absolute;
    bottom: 0;
    height: 17px;
    width: calc(50% - 384px);
    background-color: white;
    &:last-child{
      right: 0;
    }
  }
  .grid-content--steps{
    margin: 0 auto;
  }
  .description--grid{
    max-width: none;
  }
}
//IPHONE 5
@media screen and (max-width: 374px){
  .title--steps__option-one{
    margin: 50px auto 0;
    width: 80%;
  }
  .description--steps__option-one{
    width: 87%;
  }
  //OPTION TWO
  .title--steps__option-two{
    margin-top: 40px;
  }
  .steps__option-two__list{
    & li{
      width: 80%;
      margin: 32px auto 0;
      &:first-child{
        margin-top: 40px;
      }
    }
  }
  //OPTION THREE
  .steps__option-three__list{
    & li{
      margin: 36px auto 0;
      &:first-child{
        margin-top: 36px;
      }
    }
  }
  //GRID
  .grid__item--image-steps{
    width: 100%;
    max-height: 178px;
    min-height: 178px;
  }
  .description--grid{
    width: 90%;
  }
}