.subscribe__title{
  margin-top: 58px;
}
.subscribe__description{
  margin-top: 5px;
}
.subscribe__form{
  width: 90%;
  max-width: 735px;
  margin: 60px auto 83px auto;
}
//TEXT
.subscribe__form__input-text {
  float: left;
  width: 392px;
  height: 44px;
}
.subscribe__form__input-text:focus {
  outline: none;
  font-family:$KelsonL;
  font-weight: 600;
  background-color: #f7f5f7;
  border-bottom: 1px solid white;
}
//SUBMIT
.link--subscribe{
  float: right;
  display: block;
  height: 64px;
  width: 256px;
}
.link__svg--subscribe{
  display: block;
  height: 64px;
  width: 256px;
}
.link__text--subscribe{
  margin: -43px auto 0 auto;
  letter-spacing: 1px;
}
.hint--subscribe{
  float: right;
  margin-top: 15px;
}
@media screen and (max-width: 1535px){
  .subscribe__title{
    margin-top: 47px;
  }
  .subscribe__description{
    margin-top: 16px;
  }
  .subscribe__form{
    max-width: 680px;
    margin: 55px auto 88px auto;
  }
  .subscribe__form__input-text{
    width: 332px;
  }
}
//iphone 6
@media screen and (max-width: 1023px){
  .subscribe__title{
    width: 90%;
    margin: 140px auto 0 auto;
    font-size: 30px;
    line-height: 34px;
  }
  .subscribe__description{
    margin: 16px auto 0 auto;
    width: 90%;
  }
  .subscribe__form{
    max-width: 328px;
    margin: 110px auto 147px auto;
  }
  .subscribe__form__input-text{
    float: none;
    width: 292px;
    margin: 0 auto;
  }
  .link--subscribe{
    float: none;
    width: 328px;
    margin: 68px auto 0 auto;
  }
  .link__svg--subscribe{
    width: 328px;
  }
  .hint--subscribe{
    float: none;
    margin-top: 10px;
  }
}
//iphone 5
@media screen and (max-width: 374px){
  .subscribe__title{
    margin-top: 108px;
  }
  .subscribe__description{
    margin: 16px auto 0 auto;
    width: 90%;
  }
  .subscribe__form{
    max-width: 288px;
    margin: 100px auto 97px auto;
  }
  .subscribe__form__input-text{
    width: 252px;
  }
  .link--subscribe{
    width: 288px;
    margin: 61px auto 0 auto;
  }
  .link__svg--subscribe{
    width: 288px;
  }
}
