.testimonials{
  width: 100%;
  margin: 0 auto;
}
.testimonials__tabs{
  margin-top: 135px;
}
.testimonials__tabs__text{
  max-width: 1536px;
  margin: 0 auto;
}
.testimonials__tabs__text__item{
  display: none;
  &:first-child{
    display: block;
  }
}
.profile{
  float: left;
  width: 210px;
  margin-left: 143px;
}
.profile__name{
  color: $mainColor;
  font-family: $KelsonB;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 32px;
}
.profile__description{
  margin-top: 13px;
  color: $mainColor;
  font-family: $KelsonR;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.socials{
  margin: 26px auto 0 auto;
}
.socials__link{
  margin: 0 11px 0 0;
}
.socials__link__svg{
  width: 32px;
  height: 32px;
  stroke-width: 2;
  stroke-dasharray: 100;
  stroke-dashoffset: 0;
  stroke: $mainColor;
  fill: none;
}
.feedback{
  max-width: 870px;
  margin: 10px auto 0 528px;
}
.feedback__date{
  margin-top: 5px;
  color: $textColor;
  font-family: $KelsonL;
  font-size: 18px;
  line-height: 24px;
  &:before{
    display: inline-block;
    content: "";
    height: 5px;
    width: 34px;
    margin-right: 20px;
    padding-bottom: 3px;
    background: url(../../img/banner1_title_line.svg) no-repeat;
  }
}
.feedback__text{
  margin-top: 34px;
  color: $textColor;
  font-family: $KelsonL;
  font-size: 18px;
  line-height: 24px;
  transition: height 3.5s;
}
.testimonials__tabs__control{
  margin-top: 130px;
}
.testimonials__tabs__control__item{
  width: 25%;
  float:left;
  cursor: pointer;
}
.carousel-wrap--testimonials-tabs{
  display: none;
}
//TAB CAROUSEL
.carousel-wrap--testimonials-tabs{
  margin: 41px auto 0 auto;
}

.tabs-checked--mobile{
  height: 29px;
  background: url(../../img/tab_fill_2.png) no-repeat;
}
//LIST
.testimonials__list{
  width: 83.5%;
  max-width: 1536px;
  margin: 40px auto ;
  text-align: center;
}
.testimonials__list__item{
  display: inline-block;
  vertical-align: top;
  margin-top: 35px;
  width: 49%;
}
.profile-photo{
  margin: 0 auto;
  width: 133px;
  height: 133px;
}
.feedback__date--list{
  margin: 22px auto 0 auto;
  text-align: center;
  &:before{
    display: none;
  }
}
.profile--list{
  float: none;
  width: 90%;
  max-width: 507px;
  margin: 27px auto 0 auto;
  text-align: center;
}
.profile__description--list{
  margin-top: 5px;
}
.feedback__text--list{
  width: 90%;
  max-width: 507px;
  margin: 20px auto 0 auto;
  text-align: center;
}
.socials--list{
  width: 138px;
  margin: 29px auto 0 auto;
  padding-left: 11px;
}
//TILES
.shadow--tiles{
  display: block;
}
.profile__name--tiles{
  width: 90%;
  margin: 0 auto;
}
.profile__description--tiles{
  width: 90%;
  margin: 0 auto;
}
//DESKTOP
@media screen and (max-width: 1023px){
  .testimonials__tabs{
    margin-top: 63px;
  }
  .testimonials__tabs__text{
    max-width: 1023px;
  }
  .profile{
    margin-left: 31px;
  }
  .profile__description{
    margin-top: 6px;
  }
  .socials{
    margin: 17px auto 0 auto;
  }
  .feedback{
    margin: 10px auto 0 273px;
  }
  .feedback__text{
    max-width: none;
    margin: 17px 32px 0 0;
  }
  .testimonials__tabs__control{
    margin-top: 53px;
  }
//LIST
.testimonials__list{
  width: 96%;
  max-width: 1024px;
}
.profile__name--list{
  letter-spacing: 0px;
}
.feedback__text--list{
  margin: 20px auto 0 auto;
}
.profile--list{
  margin: 27px auto 0 auto;
}
.profile__description--list{
  margin-top: 5px;
}
.socials--list{
  margin-top: 30px;
}
//TILES
.tabs-checked--tiles-testimonials{
  width: 29px;
}
.tabs-checked--tiles-right{
  left: 0;
  right: auto;
  background: url(../../img/tab_fill_right.png) no-repeat;
}
.shadow--tiles{
  display: none;
}
}
//CAROUSEL
@media screen and (min-width: 769px){

.profile--carousel{
  float: none;
  margin: 0;
  width: 100%;
}
.profile__name--carousel{
  float: left;
}
.socials--carousel{
  margin: 0;
  float: right;
}
.socials__link--carousel{
  margin: 0 0 0 12px;
}
.profile__description--carousel{
  clear: both;
}
.feedback--carousel{
  float: none;
  margin: 30px  0 0 0;
  width: inherit;
  max-width: none;
}
.feedback__date--carousel{
  font-size: 16px;
  letter-spacing: 0.57px;
  &:before{
    margin-right: 23px;
  }
}
.feedback__text--carousel{
  max-width: none;
  margin-right: 0;
}
.tabs-checked--carousel{
  background: url('../../img/tab_fill_left.png');
  width: 29px;
  height: 96px;
  float: right;
  margin-top: 186px;
}
}
//IPHONE6
@media screen and (max-width:768px){
.testimonials__tabs{
  margin-top: 0;
}
.testimonials__tabs__text{
  display: none;
}
.testimonials__tabs__control{
  display: none;
}
.tabs-checked{
  width: 64px;
}
.carousel-wrap--testimonials-tabs{
  display: block;
}
.profile--carousel{
  float: none;
  margin: 0;
  width: 100%;
}
.profile__description--carousel{
  margin-top: 10px;
}
.feedback--carousel{
  float: none;
  margin: 12px  0 0 0;
  width: inherit;
}
.feedback__date--carousel{
  font-size: 16px;
  letter-spacing: 0.57px;
  &:before{
    margin-right: 23px;
  }
}
.feedback__text--carousel{
  margin-right: 0;
}
//LIST
.testimonials__list{
  width: 100%;
  margin-top: 46px;
}
.testimonials__list__item{
  display: block;
  margin: 46px auto 0 auto;
  width: 90%;
  max-width: 700px;
}
.feedback__date--list{
  margin: 20px auto 0 auto;
  font-size: 16px;
}
.profile--list{
  width: 96%;
  margin: 21px auto 0 auto;
}
.profile__description--list{
  margin-top: 10px;
}
.feedback__text--list{
  width: 96%;
  margin: 15px auto 0 auto;
}
.socials--list{
  margin: 35px auto 0 auto;
}
//TILES
.tabs-checked--tiles-testimonials{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 18px;
  background: url(../../img/grid_fill_bottom.png) no-repeat center;
}
.tabs-checked--tiles-right{
  left: 0;
  right: auto;
  background: url(../../img/grid_fill_bottom.png) no-repeat center;
}
.shadow--tiles{
  display: none;
}
}
@media screen and (max-width:374px){
.socials{
  margin: 11px auto 0 auto;
}
.socials__link{
  margin: 0 8px 0 0;
}
.socials__link__svg{
  width: 29px;
  height: 29px;
}
.profile__description--carousel{
  margin-top: 12px;
  font-size: 14px;
}
.feedback--carousel{
  margin: 9px  0 0 0;
}
.feedback__date--carousel{
  font-size: 14px;
  &:before{
    margin-right: 13px;
  }
}
.feedback__text--carousel{
  margin-top: 12px;
}

//LIST
.testimonials__list{
  margin-top: 30px;
}
.testimonials__list__item{
  margin: 30px auto 0 auto;
}
.feedback__text--list{
  width: 86%;
}
.socials--list{
  width: 119px;
  padding-left: 8px;
  margin: 35px auto 0 auto;
}
}
