.slider {
  clear: both;
  position: relative;
  &:hover .slider__link{
    opacity: 1;
  }
}
.slider__item{
    width: 100%;
    height: 710px;
    background: url(../img/slider-1.jpg);
    background-size: cover;
  margin-top: 10px;
}

