.read-more__title{
  width: 370px;
  margin: 190px 0 0 182px;
  color: rgb(71, 78, 93);
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  line-height: 21px;
  font-size: 48px;
}

@media screen and (max-width: 1279px){
  .read-more__title{
    margin: 145px 0 0 182px;
  }
}

@media screen and (max-width: 767px) {
  .read-more__title{
    float: none;
    display: inline-block;
    width: auto;
    margin: 50px 0 0 10px;
    vertical-align: middle;
    font-size: 32px;
  }
}

@media screen and (max-width: 767px) {
  .read-more__title{
    font-size: 24px;
  }
}