html.js body{ width: 1024px; margin: 0 auto; color:#252525; background-color: white; font: normal 13px/16px "Trebuchet MS",sans-serif;}
a{ color:#252525; outline-style:none ;} 
.link{ cursor: pointer; text-decoration: underline; }
.active{ color:#86976e; font-weight: bold; }
.unpublished{ color:gray !important; }
h1{ font:italic bold 24px Georgia,sans-serif; }
h2,h3,h4{ font:italic bold 16px Georgia,sans-serif; }
.clr{ clear: both; margin-bottom: 0; height: 0; }
.hidden{ display: none; }
.hidden_admin{ background-color:white; border:1px dotted red; color:grey; margin-top:2em; padding:20px;}
table tbody{ border-top:0 none;}
/*------------HEADER---------------*/

.header-top-line{ height: 12px; clear: both; background-color:#4a4c4c; }
/*block-header_static*/
.block-header_static{ float: left; width: 799px; height: 105px; }
.block-header_static .logo{ float: left; display: block; margin: 15px 13px 0 39px; cursor: pointer;}

/*header-menu*/
ul.header-menu{ float: left; width: 216px; margin:27px 0 0 16px; padding: 0; }
.header-menu li{ list-style: none; }
.header-menu li a{ color:#596b40;  }
.header-menu .news{ font:bold  14px Tahoma; }


.contacts{ float: left; width: 194px; margin: 24px 0 0 16px;  }
    .contacts .phone, .cke_show_borders .phone{ font: italic bold 20px/18px Georgia; font-style: italic; margin-left:-10px;  }
    .contacts .phone .citycode, .cke_show_borders .cke_show_borders {font-size: 13px;}
    .contacts .email{ }
/*block-search***@see: theme/search-block-form.tpl.php*/    
.block-search{ float: right; width: 200px; margin: 21px 25px 0 0;}
.block-search .form-submit{ margin: 9px 0 0 23px; cursor: pointer; display:block; float:left;  }
.block-search .form-text{ margin: 4px 0 0 10px; display:block; float:left; height:19px; width: 145px; }
/*block-languages*/
.block-languages { float: right; margin: 4px 25px 12px 0; width: 200px; }
.block-languages ul { float:left; margin-left: 56px; padding:0; }
.block-languages ul li { list-style: none; width: 32px; height: 25px; padding: 0 4px 7px; margin: 0 3px; float: left;}
.block-languages ul li.active{ background-image: url("../images/lang_podlogka.png"); }
.block-languages ul li a{ line-height: 11px; display: block;}
/*block-header_welcome_text*/
.block-header_welcome_text{ clear: both; }
.block-header_welcome_text .bg_holder .inner{ width: 482px; height: 170px; margin-left: 19px; font: bold italic 13px/16px "Trebuchet MS",sans-serif; overflow:hidden; background-image:url(../images/mainpage-left.png);
    position: relative;
}
.floating_punctuation{margin-left:-7px;  }
.block-header_welcome_text .bg_holder .inner p{ margin: 13px 20px 13px 20px; }
.bg_holder h1{ position: absolute; width: 370px; font: bold 28px/31px "Trebuchet MS",sans-serif; color: white; margin: -86px 0 0 601px; text-align: right;
    padding: 0 21px 6px 8px; background-image:url(../images/mainpage-h1.png);
}
.bg_holder .admin-edit{ background-color:white; border:1px dotted red; margin: -160px 0 0 934px; padding:1px 2px;  }

.bg_holder .rand_main_img{ position: absolute;
    margin-left: 20px;
}
.bg_holder{ background:transparent url(../images/header_text_bg_1.jpg) no-repeat 20px 0; }
.bg_holder_1{ background-image: url(../images/header_text_bg_1.jpg);
    width: 1024px;
    height: 170px;
    overflow: hidden;
}
.bg_holder_2{ background-image: url(../images/header_text_bg_2.jpg); }
.bg_holder_3{ background-image: url(../images/header_text_bg_3.jpg); }
.bg_holder_4{ background-image: url(../images/header_text_bg_4.jpg); }
/*block-list-of-subtypical*/
.list-of-subtypical{ padding:1px 0 19px 20px; background-color:#eef4e6; margin-bottom: 24px;  }
.list-of-subtypical .h1{ color: #252525; margin: 16px 0 14px 0px; line-height: 27px; font:italic bold 24px Georgia,sans-serif;}
.list-of-subtypical .reorder{ margin-left:244px; margin-top:-74px; } 
.list-of-subtypical .add_new_subtypical{ margin: 10px 0 10px 22px;}

/*----------elements------------------*/
.node, #node-form{margin:0 19px; width:980px;}
/*news-list*/
.news-list .small_links{ float: left; width: 67px; }
.news-list .small_links a{ font:normal 10px/12px "Trebuchet MS",sans-serif; color:#898989; display: block; text-align:right;}
.news-list .word-news { clear:right; display:block; float:left; height:21px; margin:5px 0 0 14px; padding:0; width:150px; font:italic bold 24px/16px Georgia; }
.news-list .news-body { clear: both; }
.news-list .news-body .date{ font:normal 12px/16px "Trebuchet MS",sans-serif; color:#898989; float: left; clear: left; width: 67px; text-align:right; margin-top:21px;}
.news-list .news-body .title{ float: left; clear: right; width: 332px; margin:20px 0 0 16px; } 
.news-list .news-body .title .active{ color:#252525; text-decoration: none; cursor: default; }
.news-list .news-body .add_new_news{ margin: 17px 0 10px 82px; }
/*----------front---------------------*/
/*news-top-10*/
.news-top-10 { margin:28px 0 0 0; width: 482px; float: left; } 
/*front-right*/
.front-right{ float: left; width:498px; }
/*list-of-site-categories*/
.list-of-site-categories{ margin:20px 0 0 30px; width: 219px; float: left;}
.list-of-site-categories .mdash { margin-left:-14px; position:absolute; }
.list-of-site-categories h2{ margin:15px 0 0 0; }
.list-of-site-categories a{ color:#252525; }
/*logos*/
.logos{ margin-top:60px; }
.logos .logo-eba{ float:left; margin:13px 16px 0 96px; }
.logos .logo-wainwraight{ margin-left: 96px; }
/*----------typical------------------*/
.typical{  }
.typical .left-blocks{ width:316px; float: left; }
.typical .news-top-5{ margin:14px 0 0 -16px; width:332px; }
.typical .news-top-5 .news-body .title{ width:249px; }
.typical .news-top-5 .add_new_news{ float: left; margin: 17px 0 10px 16px; }

.typical .body{ width:648px; margin:9px 0 0 16px; float: left;} 
.typical h2{}
/*----------subtypical------------------*/
.subtypical{}
/*footer*/
#footer{ margin-top: 35px; }
.f1{ float: left; width: 678px; text-align: left; margin-left: 89px; }
.f2{ float: left; text-align: left; }
/*----------error-page------------------*/
.error-page{ background:url(../images/errorpage-bg.jpg) no-repeat 0 0; }
.eleft{ width: 482px; float: left; }
.eright{ width: 498px; float: left; background:url(../images/errorpage-line-bg.jpg) repeat-x 0 231px;}
.eright .clr{ height: 22px; }
.h1-holder{ height: 231px; }
.h1-holder h1{ color:white; margin:167px 0 0 41px; position:absolute; font:bold 28px/31px "Trebuchet MS",sans-serif;;}
.eleft .text{ padding: 5px 20px 18px; }
/*----------search-results--------------*/
.search-results .date, .search-results .type{ width: 67px;  float: left; }

.search-results .date{ color:#989898; }
.search-results .center{ width: 647px; float: left; }
.search-results .title{ font-weight: bold; }
.search-results .body-cut strong{ color:#00aeef; font-weight: normal; }
.search-results .type{ margin-left: 16px; }
.search-results .clr{ height: 15px; }
.box h2{ margin-left: 83px; font-size: 24px; }
#container #search-form{ display: none; }




/*-----------------------------------------------------------------ADMIN---------------------------------------------------------------------------*/
html.grid body{ background-image: url(../images/grid.png); background-position:50% 0; background-repeat:no-repeat; }
.admin-edit{ border-bottom:1px dotted red; color:red; font-size:13px; line-height:14px; margin:1px 0 0 5px; position:absolute; text-decoration:none; }

                                         
.isPublish a{ display: none; }
.isPublish a.active{ display: block; font-weight: normal; color:#252525; text-decoration: underline; cursor: pointer; }
.isPublish .publish{   background: transparent url(../images/icon-publish.gif)   no-repeat; padding-left:21px; }
.isPublish .unpublish{ background: transparent url(../images/icon-unpublish.gif) no-repeat; padding-left:21px; }
/*icons*/
.icon{ position: absolute; margin-left: -24px; background: transparent no-repeat; width: 18px; height: 18px; text-indent: -10000px; cursor:pointer; outline: none;}
.icon-delete{ background-image:url(../images/icon-delete.gif); }
.icon-add{ background-image:url(../images/icon-add.gif); }
/*manage-panel*/
.manage-panel{}
.manage-panel .chooser{ padding:1px 0 19px 20px; background-color:#eef4e6; margin-bottom: 24px; }
.manage-panel .chooser h1{ margin: 13px 0 4px 12px; }
.manage-panel .chooser a{ margin-left: 13px; }
/*subtypical-panel*/
.subtypical-panel{ margin-left: 32px; }
.subtypical-panel h3{ margin-left: -1px; font-size: 16px; margin-bottom: 6px;}
#admin_select_redirect{
    max-width: 284px;
}
/*simplepages-panel*/
.simplepages-panel{ margin-left: 32px; }

.typical #edit-title-wrapper{ float:left; width:249px; }
.typical #edit-title-wrapper input{ width:243px; }
.typical .path-fieldset{ float:right; width:331px; text-align:right;
background: transparent none; border: 0 none; margin: 0; padding: 0;
}
.typical #edit-path-wrapper{ width: 332px; }
.typical #edit-path-wrapper label{ display: inline; }
.typical #edit-path-wrapper input{ width: 230px; }
.typical #edit-path-wrapper .colon{ display: none; }
.typical #edit-pathauto-perform-alias-wrapper{ margin-top: -0.6em; }

.news-panel .title{ padding: 10px 0 10px 32px; }
.news-panel .unpublished{ background-color:#ebebeb; }
.news-panel .unpublished .icon-delete{ background-image:url(../images/icon-delete.png); }

ul.files{ padding: 0; margin:50px 0 0 31px; }
ul.files li{ list-style-type: none; background: url(../images/file-ico.jpg) no-repeat 0 3px; margin-bottom: 16px; padding-left:35px; min-height:28px;}

/*placeholder*/
input.placeholder,
textarea.placeholder{
color: #777;
}

.subscribe_popup{ position: absolute; background:url(../images/subscribe_popup.png) no-repeat; opacity:1.8; display: none;
width: 331px; height: 114px; 
margin-left:  4px; margin-top:-24px; 
padding-left: 3px; padding-top:27px;
}
.subscribe_popup .button_hide{ position: absolute; margin-left:309px; margin-top:-10px; background:transparent url(../images/subscribe_hide.jpg) no-repeat; width:13px; height: 13px; text-indent: -10000px; cursor: pointer;}
.subscribe_popup .left{ width: 60px; float: left; margin-right: 13px; text-align:right; }
.subscribe_popup .left a{ color:#898989; display:block; font:10px/12px "Trebuchet MS",sans-serif; padding-top:9px; margin-bottom:13px;}
.subscribe_popup .left label{ font:bold 12px "Trebuchet MS",sans-serif;  }

.subscribe_popup .right{ width: 240px; float: left; }
.subscribe_popup .right .word-news { margin:2px 0 13px 1px; height: 19px; }
.subscribe_popup .right input{ margin-bottom: 12px; width:236px;}
.subscribe_popup .right button{ width:121px; font:normal 12px "Trebuchet MS",sans-serif; height:22px;} 
.subscribe_popup .right button span{ display:block; line-height:16px; margin-top:-1px; }


/*front-page*/
.front-page{ margin-top:10px; }

/*typical-2box-holder*/
.typical-2box-holder{ background:url(../images/typical-2box-holder.gif) bottom left no-repeat; margin-bottom: 16px; float: left; }
.typical-2box-holder .typical-box{ width: 482px; border-top:solid 1px #808080; float:left;}
.typical-2box-holder .typical-box-even{}
.typical-2box-holder .typical-box-odd{ margin-left: 16px; }
.typical-2box-holder .typical-box-inner{ margin: 10px 10px 5px;  min-height: 220px; }
.typical-2box-holder h4{ color:#a20a0a; font: 16px Georgia; margin: 0 0 4px; width: 462px; position: relative; }
.typical-2box-holder h4 a.head{ color:#a20a0a; font: 16px Georgia; margin: 0 0 4px; width: 462px; position: relative; }
.typical-2box-holder div.h4link { color:#a20a0a; font: 16px Georgia; margin: 0 0 4px; width: 462px; position: relative; font-weight:bold;}
div.h4link a{color:#a20a0a;}
.typical-2box-holder .image-holder{ float: right; }
.typical-2box-holder .subtypical{ font: 13px/20px Georgia;}

.main-subtypical-tabs-wrapper{ float:right; position: absolute; right: -5px; top: -14px; }
.main-subtypical-tabs-wrapper a{ border-bottom: 1px dotted red; color: red; font-size: 10px; line-height: 14px; text-decoration: none; }



.edit_contact_phones{ border-bottom: 1px dotted red; color: red; font-size: 10px; line-height: 14px; text-decoration: none;
    position: relative;
    top: 8px;
    right: 5px;
}

/*helppage*/
.helppage #edit-title-wrapper #edit-title{ width:621px; }
.helppage .path-fieldset{display:none;}

/**/
body pre{ white-space: pre-wrap; }