//BANNER DESKTOP HD
.banner{
  min-height: 100vh;
  width: 100%;
  background: url(../../img/background.jpg) no-repeat center center fixed;
  background-size: cover;
}
.banner__wrapper{
  width: 80%;
  max-width: 992px;
  max-height: 474px;
  margin: 273px auto 0 auto;
  padding-bottom: 95px;
  background: url(../../img/banner_wrapper.png) center top;
  background-size: cover;
}
.banner__logo__image{
  display: block;
  width: 109px;
  height: 48px;
  margin: 63px auto 0 auto;
}
.banner__logo__title{
  width: 90px;
  height: 21px;
  margin: 14px auto 0 auto;
  color: $mainColor;
  font-family: $KelsonB;
  font-size: 21px;
  line-height: 21px;
  letter-spacing: 1px;
}
.banner__title{
  margin-top: 38px;
  text-align: center;
  color: $mainColor;
  font-family: $KelsonB;
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
}
.banner__description{
  width: 80%;
  max-width: 736px;
  margin: 22px auto 0 auto;
  color: $textColor;
  font-family: $KelsonL;
  font-size: 18px;
  text-align: center;
  line-height: 24px;
}
.banner__link{
  display: block;
  width: 224px;
  margin: 25px auto 0 auto;
  cursor: pointer;
  text-decoration: none;
}
.banner__link__svg{
  height: 56px;
  width: 224px;
  fill: #a46393;
}
.banner__link__svg__text{
  display: block;
  margin: -38px auto 0 auto;
  font-family: $KelsonB;
  font-size: 18px;
  text-align: center;
  letter-spacing: 1.13px;
  font-weight: 700px;
  color: white;
  pointer-events: none;
}

//BANNER DESKTOP
@media screen and (max-width: 1024px){
.banner__wrapper{
  max-width: 800px;
  max-height: none;
  margin: 145px auto 0 auto;
  padding-bottom: 70px;
}
.banner__logo__image{
  width: 96px;
  height: 42px;
  margin-top: 70px;
}
.banner__logo__title{
  margin-top: 13px;
}
.banner__title{
  width: 80%;
  margin: 38px auto 0 auto;
}
.banner__description{
  margin-top: 14px;
}
.banner__link{
  margin-top: 42px;
  margin-bottom: 20px;
}
}
// BANNER IPHONE 6
@media  screen and (width: 375px){
.banner__wrapper{
   width: 100%;
   max-width: none;
   min-height: 100vh;
   margin: 0;
   background-image: none;
   background-color: white;
   opacity: 0.9;
 }
.banner__logo__image{
    width: 83px;
    height: 36px;
    margin-top: 77px;
  }
  .banner__logo__title{
    margin-top: 14px;
  }
  .banner__title{
    max-width: 280px;
    margin: 61px auto 0 auto;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
  }
  .banner__description{
    margin: 0 auto;
    margin-top: 23px;
    width: 100%;
    max-width: 270px;
  }
  .banner__link{
    width: 216px;
    margin-top: 56px;
  }
  .banner__link__svg{
    height: 56px;
    width: 216px;
  }
}
// BANNER IPHONE 5
@media  screen and (max-width: 374px){
.banner__wrapper{
   width: 100%;
   max-width: none;
   min-height: 100vh;
   margin: 0;
   background-image: none;
   background-color: white;
   opacity: 0.9;
 }
 .banner__logo__image{
   width: 83px;
   height: 36px;
   margin-top: 52px;
 }
  .banner__logo__title{
    margin-top: 14px;
  }
  .banner__title{
    max-width: 280px;
    margin: 39px auto 0 auto;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
  }
  .banner__description{
    margin: 17px auto 0 auto;
    max-width: 258px;
  }
  .banner__link{
    width: 200px;
    margin-top: 15px;
  }
  .banner__link__svg{
    height: 56px;
    width: 216px;
  }
}
