.footer__description_contact-us{
  width: 220px;
  margin-left: 94px;
  display: inline-block;
  vertical-align: top;


}

@media screen and (max-width: 1279px) {
  .footer__description_contact-us{
    margin-left: 0;
    display: block;
  }
}