* {
	padding: 0;
	margin: 0;
}
table {	
	border-spacing: 0;	
	border-collapse: collapse;
	margin: 150px auto;
}
tr {
	height: 22px;
}
td {
	border-collapse: collapse;
	border: 7px solid black;
	width: 65px;
}
.red {
	background-color: red;
}
.black {
    background-color: black;
}
.blue {
	background-color: blue;
	border-right: none;
}
.yellow {
    background-color: yellow;
}
.yellow_2_line {
	background-color: yellow;
	border-right: none;
}
.border_left_top {
	border-top: none;
	border-left: none;
}
.border_left {
	border-left: none;
}
.border_bottom {
	border-bottom: none;
}
.border_left_bottom {
	border-bottom: none;
	border-left: none;
	background-color: yellow;
}
.border_right_bottom {
	border-bottom: none;
	border-right: none;
}
.border_right {
	border-right: none;
}
.border_top_right {
	background-color: yellow;
	border-top: none;
	border-right: none;
}
.border_top {
	border-top: none;
}