@font-face {
    font-family: "Open Sans Light";
    src: url("../css/OPENSANS-LIGHT.eot?") format("eot"),
	url("../css/OPENSANS-LIGHT.woff") format("woff"),
	url("../css/OPENSANS-LIGHT.ttf") format("truetype"),
	url("../css/OPENSANS-LIGHT.svg#OpenSans-Light") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Open Sans Regular";
    src: url("../css/OPENSANS-REGULAR.eot?") format("eot"), url("../css/OPENSANS-REGULAR.woff") format("woff"), url("../css/OPENSANS-REGULAR.ttf") format("truetype"), url("../css/OPENSANS-REGULAR.svg#OPENSANS-REGULAR") format("svg");
   
}
@font-face {
    font-family: "OPENSANS-SEMIBOLD";
    src: url("../css/OPENSANS-SEMIBOLD.eot?") format("eot"), url("../css/OPENSANS-SEMIBOLD.woff") format("woff"), url("../css/OPENSANS-SEMIBOLD.ttf") format("truetype"), url("../css/OPENSANS-SEMIBOLD.svg#OPENSANS-SEMIBOLD") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "OPENSANS-ITALIC";
    src: url("../css/OPENSANS-ITALIC.eot?") format("eot"), url("../css/OPENSANS-ITALIC.woff") format("woff"), url("../css/OPENSANS-ITALIC.ttf") format("truetype"), url("../css/OPENSANS-ITALIC.svg#OPENSANS-ITALIC") format("svg");
    font-weight: normal;
    font-style: normal;
}
/**/

html, body {
    font-family: "Open Sans Light";
    min-width: 994px;
    max-width: 100%;
}

body {
    background: #ffffff;
}

.cat_body {
    background: #E3E4E5;
    min-height: 100%;
}

a {
    font-family: "Open Sans Light";
}

header {
    /*andrew*/
    background: url("../img/bg3.jpg");
    height: 527px;
    background-repeat: no-repeat;
    background-size: 100% 527px;

}

.header_dark {
    /*andrew*/
    height: 500px;
}

.top {
    height: 76px;
    background: #ffffff;
    border: 1px #d4d4d4 solid;
    border-top:none;
}

.logo_title {
    /*Andrew*/
    color: #474747;
    padding-top: 18px;
    margin-left: 35px;
    float: left;
    background: url("../img/logo.png");
    background-repeat: no-repeat;
    background-position: 87px 20px;
    height: 50px;
    width: 127px;
	font:32px Open Sans Regular;
}

.contact_top {
    /*andrew*/
    width: 614px;
    margin-left: 25px;
    float: left;
	position:relative;
}

.contact_top .phone {
    /*Andrew*/
    font-family: Open Sans Light;
    float: left;
    padding-top: 15px;
    font-size: 14px;
    color: #4F4F4F;
}

.contact_top .contact_info a {
    /*Andrew*/
    float: left;
    margin-top: 17px;
    font-size: 14px;
    font-family: Open Sans Regular;
    color: #0088A6;
    text-decoration: none;
	letter-spacing:-0.5px;
}

.contact_top .contact_call a {
    /*Andrew*/
    float: left;
    margin-top: 16px;
    font-size: 14px;
    font-family: Open Sans Regular;
    color: #0088A6;
    text-decoration: none;
    margin-left: 15px;

}

.search {
    /*andrew*/
    float: right;
    padding: 0;
    margin: 7px 0 0 0;
}

.search_input {
    /*andrew*/
    float: left;
    margin-top: 2px;
    height: 22px;
    padding: 0;
    border: 1px #BDBDBD solid;
    width: 217px;
    margin-right: -1px;
}

.search_button {
    /*andrew*/
    float: left;
    background: url("../img/search.png");
    background-repeat: no-repeat;
    padding: 0;
    width: 30px;
    height: 22px;
    border: 1px #BDBDBD solid;
    top: 31px;
    background-position: 7px 3px;
    margin: 2px 33px 0 0;
}

.site_title h1 {
    /*andrew*/
    font-size: 29px;
    color: #474747;
    margin-top: 20px;
    font-family: Open Sans Light;
}

.header_wrap {
    margin-right: auto;
    margin-left: auto;
    width: 992px;
}

.lang_all {
    /*andrew*/
    float: right;
    margin-top: 18px;
    width: 122px;
}

.language a {
    /*andrew*/
    font-size: 13px;
    width: 122px;
    color: #0088A6;
    padding-left: 22px;
    float: left;
    font-family: Open Sans Regular;
    line-height: 18px;
    padding-bottom: 5px;
}

.en {
    background: url("../img/en.png");
    float: right;
    background-repeat: no-repeat;
    background-position: -1px 3px;
}

.ua {
    background: url("../img/ua.png");
    float: right;
    background-repeat: no-repeat;
    background-position: 0px 3px;
}

.nav_main {
    /*andrew*/
    margin-top: 31px;
    width: 100%;
    position: relative;
    z-index: 8;
}

.nav_main ul {
    width: 100%;
    list-style: none;
    display: table-row;
}

.nav_main ul li {
    float: left;
    width: 330.6px;
    height: 98px; /*andrew*/
    vertical-align: middle;
}

.nav_main ul li:nth-child(1), .nav_main ul li:nth-child(2), .nav_main ul li:nth-child(3) {
    background: #00A99E;
}

.nav_main ul li:nth-child(1):hover, .nav_main ul li:nth-child(2):hover, .nav_main ul li:nth-child(3):hover {
    background: #00BEB5;
}

.nav_main ul li:nth-child(4), .nav_main ul li:nth-child(5), .nav_main ul li:nth-child(6) {
    background: #0099A3;
}

.nav_main ul li:nth-child(4):hover, .nav_main ul li:nth-child(5):hover, .nav_main ul li:nth-child(6):hover {
    background: #00B0BD;
}

.nav_main ul li:nth-child(7), .nav_main ul li:nth-child(8), .nav_main ul li:nth-child(9) {
    background: #00A9BD;
}

.nav_main ul li:nth-child(7):hover, .nav_main ul li:nth-child(8):hover, .nav_main ul li:nth-child(9):hover {
    background: #00BED4;
}

.nav_main ul li a {
    /*andrew*/
    display: table-cell;
    vertical-align: middle;
    height: 98px;
    COLOR: #ffffff;
    padding-left: 24px;
    font-size: 17px;
    line-height: 20px;
    font-family: Open Sans Regular;
}
.nav_main ul li:hover{
	cursor:pointer;
}
.nav_main ul li a:hover {
    text-decoration: none;
}

.nav_main ul li .spacer {
    /*andrew*/
    background: url("../img/spacer.png");
    width: 11px;
    height: 6px;
    background-repeat: no-repeat;
    float: right;
    position: relative;
    bottom: 19px;
    right: 17px;
    margin-bottom: -6px;
}

.nav_main ul li ul {
    padding-top: 7px;
    float: left;
    background: #ffffff;
    position: relative;
    z-index: 3;
}

.nav_main ul li .in_menu li {
    background: #ffffff;
    height: 34px;
}
.nav_main ul li ul li a {
    color: #0088A6;
    font-size: 12px;
    height: 34px;
    padding-left: 13px; /*andrew*/
}

.nav_main ul li ul li a:hover{
	color:#fff !important;
}
.nav_main ul li ul li ul {
    float: left;
    margin-left: 330px;
    margin-top: -41px;
}

.nav_main ul li ul li ul li {
    height: auto;
}

.nav_main ul li ul li ul li ul {
    padding-left: 16px;
    margin-top: 0px;
    margin-left: 0px;
    padding-top: 0px;
}

.nav_main ul li ul li ul li ul {
    width: 314px;
}

.nav_main ul li ul li ul li ul li {
    width: 314px;
}

.news_line {
    /*andrew*/
    position: relative;
    z-index: 1;
    background: #00939E;
    height: 28px;
    margin-top: 28px;
    font-size: 13px;
    color: #ffffff;
    line-height: 27px;
    padding-left: 10px;
    padding-right: 11px;
}

.news_line .news_date {
    /*andrew*/
    float: left;
    font-family: open sans light;
    font-size: 14px;
}

.news_line .news_title {
    /*andrew*/
    float: left;
    padding-left: 2px;
    font-family: Open Sans Regular;
    font-size: 14px;
}

.news_line .news_cat {
    /*andrew*/
    float: right;
    font-family: Open Sans Regular;
    font-size: 14px;
	cursor:pointer;
}

.main_content_wrap {
    background: #ffffff;
}

.main_content {
    /*andrew*/
    width: 993px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    position: relative;
    z-index: 1;
    line-height: 28px;
    padding-bottom: 71px;
    color: #4f4f4f;
    padding-left: 4px;
	font:18px/29px Open Sans Light;
}

footer {
    background: #A6B3BA;
    height: 280px;
}

footer .footer_inner {
    /* andrew*/
    padding-top: 27px;
    font-size: 13px;
    line-height: 26px;
    width: 998px;
    margin-left: auto;
    margin-right: auto;
    font-family: Open Sans Regular;
    padding-left: 0px;
}

footer .footer_info {
    /*andrew*/
    float: left;
    width: 323px;

}

footer .footer_info span {
    width: 300px;
    font-family: open sans light;
    float: left;
    font-size: 14px;
    color: #4D4D4D;
}

.footer_title {
    /*andrew*/
    float: left;
    padding-bottom: 26px;
    width: 314px;
    color: #4D4D4D;
    font-size: 14px;
    font-family: open sans light;

}

.footer_info_1 ul li {
    /*andrew*/
    width: 346px;
    background: none;
    float: left;
}

footer .footer_info_1 {
    width: 346px;
    float: left;
}

footer .footer_info_2 {
    width: 314px;;
    float: left;
}

.footer_info_2 ul li {
    background: none;
    float: left;
}

.footer_info_1 ul li:hover, .footer_info_2 ul li:hover {
    background: none;
}

.footer_info_1 a, .footer_info_2 a {
    color: #ffffff;
    /*andrew*/
    font-size: 14px;
}

.contact_pop {
    /*andrew*/
	top: 32px;
	margin-left: 150px;
	position: absolute;
	float: right;
	margin-right: 131px;
	right: -7px;
	z-index: 9999;

}

.pressed a {
    color: #858585;
    font-size: 14px;
	letter-spacing:-0.5px;
    /*andrew*/
    font-family: Open Sans Regular;
}

.pressed {
    background: #FFFFFF;
    width: 144px;
    float: left;
    border-top: 1px solid #D6D6D6;
    border-left: 1px solid #D6D6D6;
    border-right: 1px solid #D6D6D6;
    height: 26px;
    z-index: 1;
    position: relative;
    text-align: center;
    padding-top: 11px;
}

.pop_body {
    background: #ffffff;
    border: 1px solid #D6D6D6;
    width: 322px;
    height: 122px;
    float: left;
    margin-left: -146px;
    margin-top: 37px;
    text-align: left;
}

.pop_close {
    background: url("../img/close.png");
    width: 11px;
    height: 10px;
    margin-right: 10px;
    margin-top: 7px;
    float: right;
    background-repeat: no-repeat;
}

.pop_body p {
    /*andrew*/
    padding-top: 14px;
    padding-left: 18px;
    font-size: 13px;
    padding-bottom: 28px;
    line-height: 20px;
    font-family: Open Sans Regular;
    color: #4F4F4F;
}

.pop_body a {
    /*andrew*/
    font-size: 13px;
    color: #0088A6;
    font-family: OPensans-semibold;
    line-height: 1.9;
}

.pop_body input {
    /* andrew*/
    float: left;
    margin-left: 18px;
}

.pop_body .send {
    /* andrew*/
    margin-left: 17px;
}

.phone_input {
    float: left;
    height: 22px;
    padding: 0;
    border: 1px #BDBDBD solid;
    margin-right: -1px;
    width: 185px;
}

.no_background {
    background: none;
    height: auto;
}

.central_bar {
    width: 662px;
    float: left;
    background: #ffffff;
}

.right_bar {
    float: left;
    width: 312px;
    margin-left: 17px;
    background: #ffffff;
}

.cat_page {
    margin-top: 13px;

}

.central_title {
    font-size: 21px;
    line-height: 25px;
    font-weight: bold;
    padding-left: 32px;
    padding-right: 32px;
    float: left;
    padding-top: 28px;
}

.right_title {
    font-size: 17px;
    line-height: 22px;
    background: #00BED4;
    color: #FFFFFF;
    padding-top: 18px;
    padding-left: 20px;
    padding-bottom: 13px;

}

.clear {
    clear: both;
}

.c_wrapper {
    width: 992px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 16px;
}

.c_main {
    width: 660px;
    float: left;
    background: #fff;
    border: 1px #BDBDBD solid;
    /*andrew*/
    margin-bottom: 30px;

}

.c_right {

    float: left;
    width: 314px;
    margin-left: 16px;
}

.c_main_title {
    /*andrew*/
    color: #474747;
    padding-left: 32px;
    padding-right: 32px;
    line-height: 1.1;
    padding-top: 24px;
    padding-bottom: 25px;
    font:25px/27px Open Sans Light;
}

.c_right_title {
    /*andrew*/
    background: #00BED4;
    padding:0 18px;
    color: #ffffff;
    padding-top: 10px;
    padding-bottom: 10px;
    font:17px/21px Open Sans Regular;
}

.c_main_content p {
    /*andrew*/
    padding:0 30px;
    font-size: 14px;
    line-height: 20px;
    font-family: open sans light;
}

.c_person {
    background: #F8F9FA;
    padding-left: 32px;
    padding-right: 32px;
    float: left;
    min-height: 134px;
    border-top: 1px #BDBDBD solid;
    border-bottom: 1px #BDBDBD solid;
    margin-bottom: 14px;/*andrew*/
}

.c_person_img {
    background: url(../img/dummy.png);
    width: 130px;
    height: 133px;
    float: left;
    background-size: 130px 130px;
    border-radius: 64px;
    margin-right: 19px;
    /*andrew*/
    margin-top: 21px;
    border: 1px #BDBDBD solid;
}

.c_person_name {
    margin-top: 19px;
    line-height: 20px;
    font-size: 18px;
    margin-bottom: 14px;
    float: left;
    width: 437px;
    font-family: open sans light;/*andrew*/
}

.c_person_desc {     /*andrew*/
    float: left;
    width: 437px;
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 18px;
    font-family: opensans-italic;
    font-weight: bold;
}

.c_file {
    background: #F8F9FA;
    padding-left: 32px;
    padding-right: 32px;
    float: left;
    padding-top: 15px;
    padding-bottom: 17px;
    border-top: 1px #BDBDBD solid;
    border-bottom: 1px #BDBDBD solid;
    margin-bottom: 16px;/*andrew*/
}

.c_file_icon {
    background: url(../img/file.png);
    width: 46px;
    height: 42px;
    float: left;
    background-repeat: no-repeat;
}

.c_file_desc {
    /*andrew*/
    font-size: 14px;
    color: #0088A6;
    line-height: 20px;
    font-family: Open Sans Regular;
}

.sertificate {
    background: url(../img/sertificate.png);
    height: 413px;
    background-repeat: no-repeat;
    background-color: #F8F9FA;
    background-position: 189px 16px;
    padding-bottom: 35px;
    border-top: 1px #BDBDBD solid;
    border-bottom: 1px #BDBDBD solid;
    margin-bottom: 22px;
}

.c_gallery {
    background-color: #F8F9FA;
    padding-top: 25px;
    /*andrew*/
    border-top: 1px #BDBDBD solid;
}

.arrow {
    height: 409px;

    float: left;
    width: 34px;
    margin-left: 13px;
    background: url(../img/l_arrow.png);
    background-repeat: no-repeat;
    background-position: -1px 186px;/*andrew*/
}

.g_img {
    background: url(../img/sertificate.png);
    height: 409px;
    float: left;
    width: 564px;
    background-repeat: no-repeat;
    background-position: 142px 0px;
}

.left {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    background-position: 0 170px;
    margin-left: 1px; /*andrew*/
}

.g_number {
    text-align: center;
    font-size: 14px;
    margin-top: 18px;
    float: left;
    width: 100%;
    /*andrew*/
    font-family: opensans-semibold;
    padding-bottom: 10px;
}

.g_desc {/*andrew*/
    font-size: 14px;
    padding-left: 64px;
    padding-right: 58px;
    color: black;
    line-height: 20px;
    font-family: OPENSANS-ITALIC;
    padding-bottom: 28px;
}

.right_menu {
    /*andrew*/
    padding-top: 16px;
    margin-bottom: 16px;
    background: #fff;
    border: 1px solid #A8CCCF;
    padding-bottom: 22px;
}

.right_menu ul {/*andrew*/
    font-size: 13px;

}

.right_menu ul li {
    /* height: 26px; */
    background: none;
    /*andrew*/
	width:100%;
}
.right_menu ul li a{
	padding:8px 15px;
	display:block;
}
.right_menu ul li ul{
	padding:6px 0 0;
}
.right_menu ul li li a{
	padding:8px 15px 8px 30px;
}
.right_menu ul li a:hover{
	color:#fff;
	background:#00BED4;
}
.right_menu ul li a {
    /*andrew*/
    color: #0088A6;
    text-decoration: none;
    font-family: open sans regular;
    font-weight: normal;
    font-size: 13px;
    line-height: 14px;
}

.c_right_news {
    width: 100%;
    float: left;
    background: #fff;
    border: 1px solid #A8CCCF;
}

.n_title {
    float: left;
    color: #0088A6;
    font-size: 14px;
    line-height: 1.8;

}

.c_right_news ul {
    /*andrew*/
    padding-left: 19px;
    padding-right: 40px;
    font-size: 13px;
    margin-top: 20px;
    padding-bottom: 12px;
}

.c_right_news ul li a {

    /*anrew*/
    color: #0088A6;
    text-decoration: none;
    font-family: open sans regular;
    font-size: 14px;
    line-height: 20px;
}

.c_right_news ul li {
    height: 61px;/*andrew*/
    background: none;
}

.r_file {
    float: left;
    margin-top: 15px;
    background-color: #fff;
    padding-top: 15px;
    width: 100%;
    padding-bottom: 7px;
    min-height: 35px;
    border: 1px solid #A8CCCF;/*andrew*/
}

.r_file_title {
    background: url(../img/file.png);
    min-height: 52px;
    float: left;
    background-repeat: no-repeat;
    padding-left: 63px;
    background-position: 17px 0px;
    padding-right: 15px;
    color: #0088A6;
    line-height: 1.4;
    font-size: 14px;
    font-family: Open Sans Regular;
    padding-top: 2px;
	width:150px;
    /*andrew*/

}

.r_news {
    float: left;
    background: #fff;
    width: 100%;
    margin-top: 16px;
    border: 1px solid #A8CCCF; /*andrew*/
}

.n_brand {
    background: url(../img/brand.png);
    width: 156px;
    height: 70px;
    float: left;
    background-repeat: no-repeat;
    background-position: 28px 37px;
}

/*andrew*/
.r_clients_all {
    float: right;
    text-align: right;
    padding-right: 20px;
    padding-top: 28px;
    padding-bottom: 21px;
	font:14px Open Sans Regular;
    color: #0088A6;
}



/*My CSS Denis Layout*/
.about_company{
	width:100%;
	overflow:hidden;
	margin:0 0 15px;
}
.about_company .description{
	float:left;
	width:600px;
	border:1px solid #d4d4d4;
	padding:30px;
	color:#000;
	font:14px/20px Open Sans Light;
	background:#fff;
}
.about_company .navigation_inner{
	float:right;
	width:312px;
	border:1px solid #a8cccf;
	padding:0px 0 5px;
	background:#fff;
}
.about_company .navigation_inner .h2{
	font:17px/56px Open Sans Regular;
	display:block;
	width:314px;
	position:relative;
	left:-1px;
	height:56px;
}
.about_company .navigation_inner .h2 a{
	color:#00a0b3;
	display:block;
	padding:0 20px;
}
.about_company .navigation_inner .h2 a.active,
.about_company .navigation_inner .h2 a:hover{
	color:#fff;
	background:#00bed4;
	text-decoration:none;
}
.about_company .navigation_inner ul{
	width:100%;
	margin:2px 0 0;
}
.about_company .navigation_inner li{
	width:314px;
	position:relative;
	left:-1px;
	height:39px;
	font:13px/39px Open Sans Regular;
}
.about_company .navigation_inner li a{
	display:block;
	padding:0 20px;
	color:#0088a6;
}
.about_company .navigation_inner li a.active,
.about_company .navigation_inner li a:hover{
	color:#fff;
	background:#00bed4;
	text-decoration:none;
}
.partnersbox{
	width:100%;
	overflow:hidden;
}
.partnersbox .h2{
	display:block;
	padding:0 0 0 30px;
	height:50px;
	background:#00a0b3;
	color:#fff;
	font:17px/50px Open Sans Regular;
}
.partnersbox ul{
	width:100%;
	border-left:1px solid #e0e0e0;
}
.partnersbox  li{
	width:197px;
	border-right:1px solid #e0e0e0;
	height:174px;
	background:#fff;
	text-align:center;
	float:left;
}
.partnersbox  li+li+li+li+li+li{
	border-top:1px solid #e0e0e0;
	height:173px;
}
.partnersbox  li .image{
	width:198px;
	display:table-cell;
	height:145px;
	vertical-align:middle;
}
.partnersbox  li.active a{
	color:#0088a6;
}
.partnersbox  li a{
	color:#b3b3b3;
	font:14px Open Sans Regular;
}
.press_container{
	border:1px solid #d4d4d4;
	padding:30px 0 35px;
	width:990px;
	overflow:hidden;
	background:#fff;
}
.press_container ul{
	padding:0 170px 0 30px;
}
.press_container ul li:first-child{
	margin:0;
}
.press_container ul li{
	width:100%;
	float:left;
	margin:30px 0 0;
}
.press_container ul li .post_thumbnail{
	float:left;
	width:200px;
	height:112px;
	float:left;
}
.press_container ul li .description{
	float:right;
	width:575px;
	font:14px/20px Open Sans Light;
}
.press_container ul li .description .h2{
	color:#000;
	font:20px/16px Open Sans Light;
	display:block;
	margin:0 0 10px;
}
.press_container ul li .description .more{
	display:block;
}
.press_container ul li .description .more a{
	color:#0088a6;
}
.clones_container{
	width:990px;
	border:1px solid #d4d4d4;
	background:#fff;
	overflow:hidden;
}
.clones_container .item:nth-child(1){
	border:none;
}
.clones_container .item{
	padding:30px 30px 35px;
	overflow:hidden;
	border-top:1px solid #d4d4d4;
}
.clones_container .item .description{
	float:left;
	width:100%;
	font:13px/18px Open Sans Light;
	color:#000;
	margin:0 0 35px;
}
.clones_container .item .description p{
	padding:0 130px 0 0;
}
.clones_container .item .description a{
	color:#0088a6;
	font-family:Open Sans Regular;
}
.clones_container .item .description .h2{
	display:block;
	font:20px/20px Open Sans Light;
	color:#000;
	margin:0 0 10px;
}
.clones_container .item .description .h2 a{
	font:13px/20px Open Sans Regular;
	color:#0088a6;
}
.clones_container .item .inner a{
	color:#0088a6;
}
.clones_container .item .inner{
	width:400px;
	float:left;
	font:13px/18px Open Sans Light;
}
.clones_container .item .inner .h3{
	font:13px Open Sans Regular;
	display:block;
	margin:0 0 5px;
}
.clones_container .item .inner .h3 a{
	font-family:Open Sans Regular;
}
.clones_container .item .inner:nth-child(3){
	margin:0 0 0 70px;
	width:450px;
}
.search_container{
	width:990px;
	border:1px solid #d4d4d4;
	background:#fff;
	overflow:hidden;
	padding:30px 0;
}
.search_container ul{
	width:100%;
}
.search_container li:first-child{
	padding:0 165px 15px 30px;
	border:none;
}
.search_container li{
	padding:20px 165px 15px 30px;
	font:14px/20px Open Sans Light;
	border-top:1px solid #d4d4d4;
}
.search_container li .word{
	padding:0 4px;
	background:#fdff00;
}
.search_container li a{
	color:#000;
	font:20px Open Sans Light;
}
.news_container  li p,
.search_container li p{
	margin:10px 0 0;
}
.news_container{
	width:990px;
	border:1px solid #d4d4d4;
	background:#fff;
	overflow:hidden;
	padding:30px 0;
}
.news_container ul{
	width:100%;
}
.news_container li{
	padding:30px 165px 35px 30px;
	font:14px/20px Open Sans Light;
	border-top:1px solid #d4d4d4;
	position:relative;
	height:110px;
	overflow:hidden;
}
.news_container li a{
	color:#000;
	font:20px Open Sans Light;
}
.news_container li .right-block{
	position:absolute;
	top:30px;
	right:30px;
}
.news_container li .right-block .date{
	color:#000;
	font:14px Open Sans Light;
	margin:0 0 15px;
	text-align:right;
	display:block;
}
.news_container li .right-block .clicked{
	color:#0088a6;
	font:14px Open Sans Regular;
	padding:0 15px 0 0;
	background:url(../img/clickedico.png) right 7px no-repeat;
}
.news_container li:first-child{
	border-top:none;
	padding:0 165px 35px 30px;
}
.news_container li .right-block .clicked:before{
	content:'Развернуть';
}
.news_container li.active{
	height:auto;
}
.news_container li.active .right-block .date{
	display:none;
}
.news_container li.active .right-block {
	bottom:10px;
	top:auto;
}
.news_container li.active .right-block .clicked{
	background:url(../img/clickedicot.png) right 7px no-repeat;;
}
.news_container li.active .right-block .clicked:before{
	content:'Свернуть';
}
.contact_container{
	width:930px;
	border:1px solid #d4d4d4;
	padding:30px 30px 80px;
	background:#fff;
	overflow:hidden;
}
.contact_container .inner{
	float:left;
	width:475px;
	font:14px/20px Open Sans Light;
}
.contact_container .inner h2,
.contact_container .inner .h2{
	font:20px Open Sans Light;
	display:block;
	margin:0 0 10px;
}
.contact_container .inner h3{
	font:14px/20px Open Sans Regular;
}
.contact_container .inner h4{
	color:#0088a6;
	font:14px/20px Open Sans Regular;
}
.contact_container .inner a{
	color:#0088a6;
	font:14px/20px Open Sans Regular;
}
.contact_container .sidebar{
	float:right;
	width:430px;
	overflow:hidden;
}
.contact_container .sidebar .post_thumbnail{
	float:left;
	width:100%;
	overflow:hidden;
	margin:0 0 30px;
}
.team_container{
	width:992px;
	overflow:hidden;
	background:#fff;
}
.team_container .h2{
	display:block;
	padding:0 0 0 30px;
	height:50px;
	color:#fff;
	font:17px/50px Open Sans Regular;
	background:#00a0b3;
}
.team_container ul:nth-child(2){
	border-top:none;
}
.team_container ul{
	width:930px;
	padding:30px;
	float:left;
	border-left:1px solid #d4d4d4;
	border-right:1px solid #d4d4d4;
	border-top:1px solid #d4d4d4;
}
.team_container ul li:first-child{
	margin:0;
}
.team_container ul li{
	width:400px;
	float:left;
	margin:0 0 0 80px;
}
.team_container ul li .image{
	float:left;
	width:160px;
	height:160px;
	border:1px solid #d8d8d8;
	border-radius:100%;
	overflow:hidden;
	margin:0 15px 0 0;
}
.team_container ul li .description{
	width:100%;
	margin:10px 0 0;
	float:left;
	font:14px/20px Open Sans Light;
}
.team_container ul li .userdata{
	width:225px;
	height:160px;
	display:table-cell;
	vertical-align:middle;
}
.team_container ul li .userdata .name{
	display:block;
	color:#000;
	font:20px Open Sans Regular;
}
.team_container ul li .userdata .position{
	font:18px Open Sans Light;
}
.send_mail{
	width:312px;
	border:1px solid #a8cccf;
	padding:0px 0 5px;
	background:#fff;
}
.about_company .send_mail{
	margin:16px 0 0;
	float:right;
}
.send_mail .h2{
	width:314px;
	height:50px;
	position:relative;
	left:-1px;
	color:#fff;
	font:17px/50px Open Sans Regular;
	text-indent:20px;
	background:#00a0b3;
	display:block;
	margin:0 0 14px;
}
.send_mail textarea{
	margin:0 15px;
	width:264px;
	height:152px;
	border:1px solid #d4d4d4;
	padding:10px;
	resize:none;
	outline:none;
	font:12px/18px Open Sans Light;
	color:#6f7173;
}
.send_mail input[type="submit"]{
	float:right;
	margin:8px 15px 8px 0;
	color:#0088a6;
	font:14px Open Sans Regular;
	border:none;
	background:none;
	cursor:pointer;
}
.send_mail .msg{
	font:18px/22px Open Sans Light;
	color:#6F7173;
	padding:50px 30px 80px;
}