html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*@font-face{*/

/*font-family: 'Times New Roman';*/

/*src: url('../fonts/TimesNewRomanPSMT.eot');*/

/*src: url('../fonts/TimesNewRomanPSMT.eot?iefix') format('eot'),*/

/*url('../fonts/TimesNewRomanPSMT.woff') format('woff'),*/

/*url('../fonts/TimesNewRomanPSMT.ttf') format('truetype'),*/

/*url('../fonts/TimesNewRomanPSMT.svg#webfont') format('svg');*/

/*font-weight: normal;*/

/*font-style: normal;*/

/*}*/
/* Slicebox Style */

.sb-slider {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  width: 100%;
  list-style-type: none;
  padding: 0;
}

.sb-slider li {
  margin: 0;
  padding: 0;
  display: none;
}

.sb-slider li > a {
  outline: none;
}

.sb-slider li > a img {
  border: none;
}

.sb-slider img {
  width: 100%;
  display: block;
}

.sb-description {
  padding: 20px;
  bottom: 10px;
  left: 10px;
  right: 10px;
  z-index: 1000;
  position: absolute;
  background: #CBBFAE;
  background: rgba(190,176,155, 0.4);
  border-left: 4px solid rgba(255,255,255,0.7);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  color: #fff;
  -webkit-transition: all 200ms;
  -moz-transition: all 200ms;
  -o-transition: all 200ms;
  -ms-transition: all 200ms;
  transition: all 200ms;
}

.sb-slider li.sb-current .sb-description {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  opacity: 1;
}

.sb-slider li.sb-current .sb-description:hover {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=99)";
  filter: alpha(opacity=99);
  background: rgba(190,176,155, 0.7);
}

.sb-perspective {
  position: relative;
}

.sb-perspective > div {
  position: absolute;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
}

.sb-side {
  margin: 0;
  display: block;
  position: absolute;
  -moz-backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
/*CLEARFIX*/

.clearfix {
  *zoom: 1;
}

.clearfix:before {
  content: '';
  display: table;
}

.clearfix:after {
  content: '';
  display: table;
  clear: both;
}

.car {
  width: 279px;
  text-align: center;
}

@media screen and (max-width: 1279px) {
  .car {
    width: 226px;
  }
}

.gallery {
  background: url("../img/carousel-background.jpg") center center;
  background-size: cover;
  height: 302px;
}

.flexslider:before {
  content: '';
  display: block;
  position: absolute;
  z-index: 1;
  width: 55px;
  height: 172px;
  opacity: 0.64;
  background-image: linear-gradient(to right, black 0%, transparent 100%);
}

.flexslider:after {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
  width: 55px;
  height: 172px;
  opacity: 0.64;
  background-image: linear-gradient(to left, black 0%, transparent 100%);
}

.slides li {
  border: 2px solid #92887f;
  height: 168px;
}

.slides img {
  width: 276px;
  height: 168px;
  -webkit-filter: grayscale(95%);
  -moz-filter: grayscale(95%);
  -ms-filter: grayscale(95%);
  -o-filter: grayscale(95%);
  filter: grayscale(95%);
  cursor: pointer;
}

.slides img:hover {
  -webkit-filter: grayscale(0);
  -moz-filter: grayscale(0);
  -ms-filter: grayscale(0);
  -o-filter: grayscale(0);
  filter: grayscale(0);
}

.flex-direction-nav a {
  text-decoration: none;
  display: block;
  width: 16px;
  height: 24px;
  margin: -15px 0 7px;
  position: absolute;
  top: 50%;
  z-index: 10;
  cursor: pointer;
}

.flex-direction-nav a:before {
  content: '';
  display: inline-block;
  width: 16px;
  height: 24px;
  margin-left: 7px;
  background-image: url("../img/gallery-arrow.png");
  z-index: 9999;
  opacity: 1;
}

.flex-next {
  right: 0;
  transform: rotate(180deg);
}

.header {
  position: relative;
  background-image: url("../img/header-background.jpg");
}

.menu {
  height: 71px;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  background-image: url("../img/menu-background.jpg");
}

@media screen and (max-width: 1023px) {
  .menu {
    height: auto;
    min-height: 71px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    background-image: url("../img/menu-background.jpg");
  }
}

.read-more {
  background-color: #f2e8e5;
}

.read-more:before {
  content: '';
  position: relative;
  display: block;
  width: 100%;
  height: 93px;
  margin-top: -93px;
  background-color: rgba(83, 68, 73, 0.7);
}

@media screen and (max-width: 767px) {
  .read-more:before {
    display: none;
  }
}

.slider {
  clear: both;
  position: relative;
}

.slider:hover .slider__link {
  opacity: 1;
}

.wrapper {
  width: 1170px;
}

@media screen and (max-width: 1279px) {
  .wrapper {
    width: 960px;
  }
}

@media screen and (max-width: 1023px) {
  .wrapper {
    width: calc(100% - 32px);
  }
}

.car__description {
  width: 97%;
  height: 85px;
  margin: 4px auto 0;
  color: #2a2a2a;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  letter-spacing: 0.2px;
  overflow: hidden;
}

.car__image {
  height: 50px;
  margin-top: 33px;
}

.car__link {
  display: block;
  margin-top: 23px;
  color: #a86048;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 21px;
  text-decoration: none;
  transition: transform 0.5s;
}

.car__link:hover {
  transform: scale(1.3);
}

.car__year {
  color: #474e5d;
  font-family: 'Sarina', cursive;
  font-size: 25px;
  font-weight: 400;
  line-height: 55px;
  margin-top: 15px;
}

.description__title,
.social__title {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
  font-weight: 400;
  line-height: 55px;
}

.description__text {
  margin-top: 6px;
  letter-spacing: 0.1px;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  white-space: pre-line;
}

.footer__copyright-text {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  white-space: pre-line;
}

@media screen and (max-width: 767px) {
  .footer__copyright-text {
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    white-space: normal;
  }
}

.footer__copyright {
  height: 108px;
  background-color: #92887f;
}

.footer__info {
  height: 299px;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  background: url("../img/footer-background.png");
}

@media screen and (max-width: 1279px) {
  .footer__info {
    height: auto;
    background: url("../img/footer-background.png") center center;
    background-size: cover;
  }
}

.footer__social {
  display: inline-block;
  vertical-align: top;
  margin-left: 91px;
}

@media screen and (max-width: 1279px) {
  .footer__social {
    position: absolute;
    top: 0;
    right: 0;
    margin-left: 0;
  }
}

@media screen and (max-width: 767px) {
  .footer__social {
    position: relative;
    display: block;
  }
}

.footer__wrapper {
  position: relative;
  margin: 50px auto 50px;
}

.gallery__wrapper {
  height: 168px;
  margin: 72px auto 0;
}

@media screen and (max-width: 1279px) {
  .gallery__wrapper {
    width: 874px;
  }
}

@media screen and (max-width: 1023px) {
  .gallery__wrapper {
    width: 577px;
  }
}

@media screen and (max-width: 767px) {
  .gallery__wrapper {
    width: 276px;
  }
}

.header__logo {
  position: absolute;
  top: 2px;
  left: calc(50% - 175px);
  z-index: 999;
  transition: opacity, left 0.3s;
}

@media screen and (max-width: 1023px) {
  .header__logo {
    left: 16px;
  }
}

@media screen and (max-width: 767px) {
  .header__logo {
    top: 10px;
    width: 130px;
  }
}

.header__menu {
  margin-top: 72px;
}

@media screen and (max-width: 767px) {
  .header__menu {
    margin-top: 20px;
  }
}

.menu__item {
  vertical-align: middle;
  float: left;
  margin: 0 95px 0 0;
  height: 70px;
  line-height: 75px;
}

.menu__item:nth-child(even) {
  float: right;
  margin: 0 0 0 95px;
}

@media screen and (max-width: 1279px) {
  .menu__item {
    margin: 0 45px 0 0;
  }

  .menu__item:nth-child(even) {
    margin: 0 0 0 45px;
  }
}

@media screen and (max-width: 1023px) {
  .menu__item {
    float: none;
    margin: 0;
  }

  .menu__item:nth-child(even) {
    margin: 0;
    float: none;
  }
}

.menu__link {
  font-family: 'Sonsie One', cursive;
  color: #603030;
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
  letter-spacing: -0.2px;
  transition: color 0.5s;
}

.menu__link:hover {
  color: white;
}

@media screen and (max-width: 1023px) {
  .menu__list {
    display: none;
    z-index: 99999999;
  }
}

.menu__mobile {
  display: none;
}

@media screen and (max-width: 1023px) {
  .menu__mobile {
    display: block;
    float: right;
    margin-top: 23px;
    cursor: pointer;
  }
}

.menu__wrapper {
  margin: 0 auto;
}

.read-more__description {
  height: 686px;
  background: url("../img/read-more-background.png") center center;
  background-size: cover;
}

@media screen and (max-width: 1279px) {
  .read-more__description {
    height: 600px;
    background: url("../img/read-more-background.png") 40% center;
  }
}

@media screen and (max-width: 767px) {
  .read-more__description {
    height: auto;
    background: none;
  }
}

.read-more__description-text {
  font-size: 14px !important;
  margin-top: 21px !important;
}

@media screen and (max-width: 767px) {
  .read-more__description-text {
    margin: 21px 0 50px 0 !important;
  }
}

.read-more__item {
  display: inline-block;
  vertical-align: top;
  margin-right: 18px;
}

.read-more__item:last-child {
  margin-right: 0;
}

@media screen and (max-width: 1023px) {
  .read-more__item {
    display: inline-block;
    margin: 0;
    vertical-align: top;
  }
}

.read-more__list {
  position: relative;
  margin-top: -93px;
  font-size: 0;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .read-more__list {
    margin-top: 20px;
  }
}

.read-more__logo {
  display: block;
  float: left;
  width: 147px;
  margin-top: -15px;
}

@media screen and (max-width: 767px) {
  .read-more__logo {
    float: none;
    display: inline-block;
    width: 50px;
    margin-top: 50px;
    vertical-align: middle;
  }
}

.read-more__subtitle {
  font-size: 17px !important;
  margin-top: 32px !important;
  letter-spacing: 0.1px;
}

@media screen and (max-width: 767px) {
  .read-more__subtitle {
    margin: 32px 0 0 0 !important;
    width: 100%;
  }
}

.read-more__title,
.read-more__description-text,
.read-more__subtitle {
  width: 370px;
  margin: 190px 0 0 182px;
  color: #474e5d;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  line-height: 21px;
  font-size: 48px;
}

@media screen and (max-width: 1279px) {
  .read-more__title,
  .read-more__description-text,
  .read-more__subtitle {
    margin: 145px 0 0 182px;
  }
}

@media screen and (max-width: 767px) {
  .read-more__title,
  .read-more__description-text,
  .read-more__subtitle {
    float: none;
    display: inline-block;
    width: auto;
    margin: 50px 0 0 10px;
    vertical-align: middle;
    font-size: 32px;
  }
}

@media screen and (max-width: 767px) {
  .read-more__title,
  .read-more__description-text,
  .read-more__subtitle {
    font-size: 24px;
  }
}

.read-more__wrapper {
  margin: 0 auto;
}

.slider__image {
  width: 100%;
  height: 710px;
}

.slider__item {
  width: 100%;
  height: 710px;
  background: url("../img/slider-1.jpg");
  background-size: cover;
  margin-top: 10px;
}

.slider__arrow {
  width: 100%;
  position: absolute;
  top: calc(50% - 33px);
}

.slider__link {
  position: absolute;
  z-index: 999;
  display: inline-block;
  height: 67px;
  top: 0;
  left: 20px;
  opacity: 0;
  transition: opacity 1s;
}

.slider__link:first-child {
  transform: rotate(180deg);
}

.slider__link:last-child {
  right: 20px;
  left: auto;
}

.slider__link img {
  width: 30px;
}

@media screen and (max-width: 1023px) {
  .slider__link {
    opacity: 1;
  }
}

@media screen and (max-width: 767px) {
  .slider__link {
    height: 36px;
  }

  .slider__link img {
    width: 16px;
  }

  .slider__arrow {
    top: calc(50% - 18px);
  }
}

.social__email {
  width: 352px;
  height: 45px;
  background-color: rgba(104, 94, 86, 0.28);
  border: 1px solid #c1b4a9;
  border-radius: 5px;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 55px;
  padding: 0 0 0 19px;
}

.social__email::-webkit-input-placeholder {
  color: white;
}

.social__email:focus {
  outline: none;
}

@media screen and (max-width: 767px) {
  .social__email {
    width: 245px;
  }
}

.social__form {
  margin-top: 24px;
}

.social__item {
  vertical-align: top;
  margin-right: 16px;
  display: inline-block;
}

@media screen and (max-width: 767px) {
  .social__item {
    margin-right: 10px;
  }
}

.social__link {
  display: block;
  width: 32px;
  height: 31px;
  background-image: url("../img/social-sprite.png");
  background-position: 0 0;
  transition: background-position 0.3s;
}

.social__link:hover {
  background-position: 0 31px;
}

.social__list {
  font-size: 0;
  margin-top: 9px;
}

.social__submit {
  vertical-align: middle;
  margin: 0 0 0 -56px;
  width: 47px;
  height: 36px;
  background-color: #b2a294;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  outline: none;
}

.social__submit:hover .social__submit-image {
  margin-left: 10px;
  transition: margin 0.3s;
}

.social__submit-image {
  vertical-align: middle;
}

.footer__description_about {
  width: 380px;
  display: inline-block;
  vertical-align: top;
}

@media screen and (max-width: 1279px) {
  .footer__description_about {
    width: 500px;
  }

  .footer__description_about p {
    white-space: normal;
  }
}

@media screen and (max-width: 1023px) {
  .footer__description_about {
    width: calc(100% - 450px);
  }
}

@media screen and (max-width: 767px) {
  .footer__description_about {
    width: 100%;
  }
}

.footer__description_contact-us {
  width: 220px;
  margin-left: 94px;
  display: inline-block;
  vertical-align: top;
}

@media screen and (max-width: 1279px) {
  .footer__description_contact-us {
    margin-left: 0;
    display: block;
  }
}

@media screen and (max-width: 767px) {
  .footer__description_contact-us {
    width: 100%;
  }
}

.footer__wrapper_copyright {
  margin: 42px auto 0;
}

.social__link_facebook {
  width: 31px;
}

.social__link_vimeo {
  background-position: -96px 0;
}

.social__link_vimeo:hover {
  background-position: -96px 31px;
}

.social__link_linked {
  background-position: -128px 0;
}

.social__link_linked:hover {
  background-position: -128px 31px;
}

.social__link_xing {
  width: 31px;
  background-position: -32px 0;
}

.social__link_xing:hover {
  background-position: -32px 31px;
}

.social__link_yahoo {
  background-position: 32px 0;
}

.social__link_yahoo:hover {
  background-position: 32px 31px;
}

.social__link_youtube {
  background-position: -64px 0;
}

.social__link_youtube:hover {
  background-position: -64px 31px;
}